﻿.divContent
{
    min-height: 100%; 
    height: 100%; 
    /*margin: 0 auto -100px;*/ 
    vertical-align:bottom;
}


.panel-default > .panel-heading-custom {
    background: #aeadad;
    color: #000000;
    border-radius: 0 !important;
}

.panel-default > .panel-heading-custom-dashboard {
    background: #ffffff;
    color: #009ddb;
    border-radius: 0 !important;
    font-weight: bold;
    font-size: 20px;
   
}

.panel-default {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeLeft {
    -webkit-animation-name: fadeLeft;
    animation-name: fadeLeft;
}


.panel-default > .panel-heading-custom-details {
    background: #ffffff;
    color: #009ddb;
    border-radius: 0 !important;
    font-weight: bold;
    font-size: 20px;
}

/* Comments */

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}

.post .post-heading .meta .title {
  margin-bottom: 0;
}

.post .post-description {
  padding: 0 15px 15px 15px;
}
.post .post-description p {
  font-size: 14px;
}

.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}


/* ======= */


li.list-group-item-custom {
    border-radius: 0;
    border-top: 1px;
    padding: 40px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
}

.recentDivBox {
    background-color: #ffffff;
    height: 500px;

}

.h3Header 
{
    font-family: Verdana;
    font-weight: bold;
    margin-left: 35%;
    padding-bottom: 25px;
}

.panel-default > .panel-heading-custom:hover
{
     color: #d4d4d4;
     transition: background-color 0.5s ease;
     background-color: #767676;
}

/*.navBarClient{
    background-color: #127eae;
    border: none;
    width: 100%;
    height: 85px;
    position: relative;
    
}*/

.banner{
    height: 500px;
    width: 100%;
    border-top: 3px solid #ccc;
    background-image: url("../img/Project-Banner.jpg");
}

.dashboardBanner{
    background-color: #009ddb;
    color: #ffffff;
    height: 100px;
    width: 100%;
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
    padding: 30px 0 0 410px;
    
}

.clientBoxTop{
    background-color: #ffffff;
    border: none;
    overflow: auto;
    width: 100%;
    height: 150px;
    z-index: 1;
    overflow: hidden;
}

#searchPostBox 
{
    background-color: transparent;
    border: solid 10px;
    overflow: auto;
    width: 70px;
    height: 70px;
    float: right;
    margin-right: 350px;
    margin-top: 50px;
}

#rightMenuContainer {
    background-color: transparent;
    border: none;
    overflow: auto;
    width: auto;
    height: auto;
    float: right;
    margin-right: 10px;
    margin-top: 0;
}

/* button */
.buttonProject 
{ 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:155px;
	text-decoration:none;
	text-align:center;
    /*background: #ffffff;
    font-family: Verdana;
    font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:155px;
	text-decoration:none;
	text-align:center;
    font-style:normal;*/
}

.buttonProject:hover
{
    background-color: #cbc9c9;
    transition: background-color 0.5s ease;
}


/* end button */


.container-timeline {
    
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin: 0px auto;
    padding: 25px;
    width: 60%;
    background-color: #ffffff; /*#e6e6e6;*/
    overflow: hidden;
    position: relative;
    /*-moz-box-shadow: 0 0px 15px 4px #ccc;
    -webkit-box-shadow: 0 0 15px 4px #ccc;
    box-shadow: 0 0 15px 4px #ccc;*/
   
}



.topPeopleDiv{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 25px;
    background-color: #ffffff;
    float: left;
    padding: 15px;
    width: 20%;
    z-index: 2;
    position: relative;
    overflow:hidden;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;


}
    .topPeopleDiv .fakeshadow {
        clear: both;
        float: right;
        -moz-box-shadow: 12px 5px 15px 4px #ccc;
        -webkit-box-shadow: 12px 5px 15px 4px #ccc;
        box-shadow: 12px 5px 15px 4px #ccc;
    }
@-webkit-keyframes fadeRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeRight {
    -webkit-animation-name: fadeRight;
    animation-name: fadeRight;
}



.Footer {
    height: 187px;
    margin-top: 0px;
    clear: both;
    position: relative;

    padding: 10px;
    background: #808080;
    bottom:0 ;
}

/* nav bar client */

nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #009ddb; }
nav.navbar-findcond ul.navbar-nav a { color: #009ddb; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #009ddb; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #009ddb; color: #fff; }
nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }






/*.navClient {
    background-color: transparent;
    border: none;
    border-color: #ccc; box-shadow: 0 0 2px 0 #ccc;
}



.navClient .nav-li > li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:left;
}

.navClient .nav-li > li > a
{
   
    color: #808080;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.navClient .nav-li > li > a:hover,
.navClient .nav-li > li > a:focus
{
    text-decoration: none;
    color: #3b3b3b;
    border-color: #009ddb;
    /*border-bottom: #009ddb solid 5px;
}*/


/* nav bar part 2*/
.navClient2 {
    position: relative;
    list-style-type: none;
    background-color: transparent;
    /*background-color: #d09a04;*/
    border: none;
    text-align: center;
    overflow: auto;
    margin: 0px;
    margin-bottom: 5px;
    font-family: Verdana; 
    font-weight: bold;
    font-size: 12px;
}


.navClient2 > li {
     display: inline-block;

}

.navClient2 > li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;

}

    .navClient2 > li a:hover {
        transition: color 0.5s ease;
        color: #009ddb;
    }


/* details comments nav */
.contentPanel {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
}

.navDetails {
    background-color:#009ddb;
    border: none;
}


.navDetails .nav-li > li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:left;
}

.navDetails .nav-li > li > a
{
   
    color: #808080;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
.navDetails .nav-li > li > a:hover,
.navDetails .nav-li > li > a:focus
{
    text-decoration: none;
    color: #3b3b3b;  
    border-bottom: 5px solid #009ddb;
}






/* CREATE PROJECT FORM */


.form-control > .inputField {
    background-color: #dddddd !important;

}

.form-control > .inputField:focus {
    box-shadow: 0px 0px 10px #808080 !important;
    border-color: #000000 !important;
}