.topBoxDiv{
    background-color: #fff;
    border: none;
    overflow: auto;
    width: 100%;
    height: 550px;
    z-index: 1;
    overflow: hidden;
}


.overlayTopBox{
    background-color: #b6ff00;
    border: none;
    overflow: hidden;
    width: 0%;
    height: 550px ;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    position: absolute;
    text-align: center;

}

.overlayTopBoxContent{
    display: inline;
    position: relative;
    width: 100%;
    text-align: center !important;
    overflow: auto;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}

/*@media screen and (max-height: 300px) {
  .overlay a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}*/

#Advertise {
    width: 100%;
    /*float: none;*/
    border: none;
    background: #ff0000;
    padding: 225px;
    overflow: auto;
    text-align: center;

}




#registerBox {
	width: 50%;
	border: none;
	background: none;
	padding: 20px;
    overflow: auto;
    display: inline-block;
}


#topDev {
  clear: both;
 
  width: 100%;
  border: none;
  background: #999;
  padding: 50px;
}


.boxDev {
    background-color:#fff;
	padding:40px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.Footer {
    margin-top: 0px;
    clear: both;
    position: relative;
    z-index: 10;
    padding: 10px;
    background: #808080;
    bottom:0 ;
    height: auto%;
}

.commentBox {
  clear: both;
  width: 100%;
  border: none;
  background: #ffffff;
  padding: 50px;


}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}
#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
