﻿body {
    font-family: 'Arial' !important;
}

.banner {
    height: 850px;
    width: 100%;
    background-size: 100% auto;
    background-image: url("../Images/Get-started.jpg");
    background-repeat: no-repeat;
}

.box1 {
    height: 500px;
    width:100%;
    float: none;
    margin: 0 auto;
    clear:both;
    text-align: center;
}

.box2 {
    padding-top: 30px;
    padding-bottom: 50px;
    height: auto;
    width:100%;
    float: none;
    margin: 0 auto;
    clear:both;
    background-color: #eeeeee;
}

.box3 {
    height: 500px;
    width:100%;
    float: none;
    margin: 0 auto;
    clear:both;
    background-color: #fff;

}

.box3-1 {
    width: 50%;
    text-align: center;
    height: 500px;
    background-color:#3d3b3b;
    padding: 50px;

    
}

.box3-1:hover{
    opacity: 0.8;

}


.box3-2 {
    width: 50%;
    text-align: center;
    height: 500px;
    background-color:#000000;
    padding: 50px;
}

.box3-2:hover{
    opacity: 0.9;
}


.btn-transparent {
    background-color: transparent !important;
    
    width: 150px;
    height: 60px;
    border-radius: 0 !important;
    color: inherit;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
    background-color: transparent !important;
    width: 150px;
    height: 60px;
    border-radius: 0 !important;
    color: inherit;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

#back-to-top.show {
    opacity: 1;
}



#back-to-top.show:hover {
    background-color: #e9e9e9 !important;
    color: #000000 !important;
}



.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}
#fade-quote-carousel.carousel {
  padding-bottom: 150px;
  text-align: center;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}


.footer {
    background-color: #3d3b3b;
    height: 500px;
    width: 100%;
    padding: 100px;
}


.boxDev {
    background-color:#fff;
	padding:40px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}


.navbar-landpage {
    background: transparent;
}



    nav.navbar-landpage a {
        color: #fff;
    }

    nav.navbar-landpage ul.navbar-nav a {
        color: #fff;
    }
    nav.navbar-landpage ul.navbar-nav a:hover,
    nav.navbar-landpage ul.navbar-nav a:visited,
    nav.navbar-landpage ul.navbar-nav a:focus,
    nav.navbar-landpage ul.navbar-nav a:active {
        background: transparent;

        border-bottom: 2px solid #0e9fff;
    }