﻿body {
     font-family: 'Arial' !important;
}

.content {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}



.bannerTitle {
    background-color: #009ddb;
    color: #ffffff;
    height: 150px;
    width: 100%;
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
    padding: 60px 0 0 410px;
}



.panel-default > .panel-heading-custom-dashboard {
    background: #ffffff !important;
    color: #009ddb !important;
    border-radius: 0 !important;
    font-weight: bold;
    font-size: 20px;
   
}


.btnTransparent {
    background-color: transparent !important;
    width: 150px;
    height: 45px;
    border-radius: 0 !important;
    color: #ffffff !important;
}

.btnTransparent:hover{


    color: #000000 !important;
}



.contentForm {
    height: auto;
    width: 60%;
    padding-top: 30px;
    background-color: transparent;

    margin-right: 25px;
}

.contentDisclaimer {
    height: auto;
    width: 20%;
    background-color: transparent;
}