﻿body {
    padding-top:50px;
    background: url(https://pcbx.us/bfjb.jpg);
    background-repeat:initial;
}

#myContent_Register
{
    width:80%;
    background-color:white;
    padding-bottom:50px;
    padding-top:50px;
}

section
{
    padding-bottom:10px;
}