﻿#entry
{
    width:315px; 
    padding:5px;
    height:113px;
}

#picture
{
    float:left; 
    height:100px; 
    width:120px;
    padding:5px;
}

#author
{
    float:left;
    height:100px;
    width:180px; 
    padding-left:5px; 
    padding-top:5px; 
    border-top-right-radius:5px;
    border-bottom-right-radius:5px; 
    background-color:cornflowerblue;
}
.myPadding
{
    padding-left:180px;
}