﻿@using PitchIn.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    ViewBag.thePassword = "email:brijmcq@gmail.com password:Asdf!123";

}


@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.thePassword</h3>*@
@*<div id="myContent_Register">
        <center>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <br />
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                        <br />
                        <br />
                    </div>
                    <div class="row">
                        <input type="submit" value="Log in" class="btn btn-lg btn-success" />
                        <br />
                        <br />
                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>

                    </div>
                    <div class="row">
                        <br />
                        @Html.ActionLink("Register as a new user", "Register") &nbsp; &nbsp; @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        <br />
                    </div>
                }
            </section>
    </center>
    </div>*@

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="bannerTitle">
                Log in Form

                <div class="pull-right" style="margin-right: 25px;">
                  
                    <a href="@Url.Action("Index", "Home")" class="btn btn-default btnTransparent">HOME</a>
                    <a href="@Url.Action("Register", "Account")" class="btn btn-default btnTransparent">REGISTER</a>
                 
                </div>
            </div>
            <div class="contentForm pull-left">
                <div class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right">
                    <div class="panel panel-default fadeLeft" style="border-radius: 0;">
                        <div class="panel-heading panel-heading-custom-dashboard" style="padding: 25px;">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            &nbsp;&nbsp;LOG IN
                        </div>
                        <div class="panel-body" style="padding: 10px;">
                            <h4 style="margin-bottom: 0; padding: 10px 0 10px 40px;">Information</h4>
                            <ul class="list-group">
                               
                                <li class="list-group-item list-group-item-custom form-inline" style="border-radius:0; padding-left: 40px;">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <br />
                                    <div class="form-group">
                                        <label>E-mail:</label>
                                        <br />
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail", style = "border-radius: 0;" })

                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label>Password:</label>  <br />
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", style = "border-radius: 0;" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                    </div>
                                    <br/><br/>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>



                                </li>

                            </ul>

                            <input type="submit" class="btn btn-primary pull-right" value="LOG IN" style="border-radius:0;" />


                        </div>
                    </div>
                </div>
            </div>

            @*<h4>Use a local account to log in.</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">

                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Log in" class="btn btn-lg btn-default" />
                            <br />
                        </div>
                        <p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
        }

@*<section id="socialLoginForm">
    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
</section>

<div class="form-group">
    <div class="">
        @Html.ActionLink("Home", "Index", "Home")
    </div>
</div>*@
