﻿@model PitchIn.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";


}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/UserPage")


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <div class="bannerTitle">
        Register Form

        <div class="pull-right" style="margin-right: 25px;">
            <a href="@Url.Action("Index", "Home")" class="btn btn-default btnTransparent">HOME</a>
            <a href="@Url.Action("Login", "Account")" class="btn btn-default btnTransparent">LOG IN</a>
        </div>
    </div>
    <div class="contentForm pull-left">
        <div class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right">
            <div class="panel panel-default fadeLeft" style="border-radius: 0;">
                <div class="panel-heading panel-heading-custom-dashboard" style="padding: 25px;">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    &nbsp;&nbsp;Sign Up
                </div>
                <div class="panel-body" style="padding: 10px;">
                    <h4 style="margin-bottom: 0; padding: 10px 0 10px 40px;">Information</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-custom form-inline" style="border-radius:0; padding-left: 40px;">
                            <div class="form-group">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                            </div>
                          
                            <br />
                            <div class="form-group">
                                <label>E-mail:</label>
                                <br />
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail.", style = "border-radius: 0;" })
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label>Password:</label>  <br />
                                 @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", style = "border-radius: 0;" })

                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label>Confirm Password:</label><br />
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", style = "border-radius: 0;" })

                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <label>What are you?</label><br />
                                @Html.DropDownListFor(m => m.Role, (SelectList)ViewBag.RolesList, new{ @class = "form-control", style = "border-radius: 0;" })
                               
                            </div>


                        </li>

                    </ul>

                    <input type="submit" class="btn btn-default pull-right" value="SIGN UP" style="border-radius:0;" />


                </div>
            </div>
        </div>
    </div>
    @*<div id="myContent_Register" class="col-lg-offset-1">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
       
        <h1> Register </h1>
        <hr class="star-primary">
        <div class="form-group">
            <div class="">
                @Html.ActionLink("Back to Login", "Login", "Account")
            </div>
        </div>
        <div class="row">
           
            <div class="col-lg-offset-3">
                
                <div class="col-lg-1" style="width:200px;">
                    <section class="row">
                        @Html.LabelFor(m => m.Role, new { @class = "control-label" }) : @Html.DropDownListFor(m => m.Role, (SelectList)ViewBag.RolesList, new { @class = "form-control" })
                    </section>
                    <section class="row">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" }) : @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </section>
                    <section class="row">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" }) : @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </section>
                    <section class="row">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" }) : @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </section>
                </div>
            

            </div>
        </div>

        <div class="row">
            <div class="" style="padding-top:20px;">
                <input type="submit" class="btn btn-success" value="Register" />
            </div>
        </div>
        
    </div>*@
    
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
