﻿@*@model IEnumerable<PitchIn.Domain.Entities.Job>*@

@model PitchIn.Models.TimelineViewModel
@*@model PitchIn.Models.AcceptJobViewModel*@
@{
    ViewBag.Title = "Accepted";
}

<div class="dashboardBanner">
    Accepted Projects
</div>
<div class="container-timeline pull-left" style="height: 550px;">
    <div class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right">
        <div class="panel panel-default fadeLeft" style="border-radius: 0;">
            <div class="panel-heading panel-heading-custom-dashboard" style="padding: 25px;">
                <i class="fa fa-list" aria-hidden="true"></i>
                &nbsp;&nbsp;Accepted Challenges
            </div>

            <div class="panel-body" style="padding: 0px;">
                <ul class="list-group">
                   @foreach (var item in Model.AcceptJobViewModel.Jobs)
                   {
                            <li class="list-group-item list-group-item-custom">
                                @Html.DisplayFor(modelItem => item.Name)
                                <div class="pull-right">
                                    @if (Model.AcceptJobViewModel.AcceptWorker.Where(x => item.Job_ID == x.JobId).FirstOrDefault().IsSubmitted)
                                    {
                                        <a href="@Url.Action("Details", "Job", new { jobID = item.Job_ID }, null)" , title="View Details">
                                            <span class="fa fa-eye"></span>
                                        </a> 
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ImageCreate", "Job", new { id = item.Job_ID }, null)" , title="Submit">
                                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                        </a>
                                    }   
                                     &nbsp; 
                                    <a href="@Url.Action("Remove", "Remove", new { jobID = item.Job_ID }, null)" , title="Remove Work">
                                        <span class="fa fa-trash-o"></span>
                                    </a> 
                                </div>
                            </li>
                        
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="topPeopleDiv fadeRight">
    <div class="panel panel-primary" style="border-radius:0;">
        <div class="panel-heading" style="border-radius:0;">
            <h3 class="panel-title">Statistics</h3>
        </div>
        <div class="panel-body" style="padding: 25px;">
            <div class="row">

                Credits:
                @if(Session["Credits"] != null)
                { 
                    <p class="pull-right">$@HttpContext.Current.Session["Credits"].ToString();</p>
                }
                else
                {
                    <p class="pull-right"> $0.00</p>
                }
            </div>
            <div class="row">
                Earnings: <p class="pull-right">$0.00</p>
            </div>
           
        </div>
    </div>
    
</div>




@*<div id="myContent_Main">
    <h2 align="center">List of Accepted Challenges</h2>

    <div id="openChallengePanel" align="center" style="padding:30px;">

        @foreach (var item in Model.AcceptJobViewModel.Jobs)
        {
            <div class="row panel panel-default">
                <div class="panel-heading">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="panel-body">
                    Description: &nbsp; @Html.DisplayFor(modelItem => item.Details)
                    <br />
                    @Html.DisplayNameFor(model => item.Date_End): &nbsp; @Html.DisplayFor(modelItem => item.Date_End)
                    <br />
                    @if (Model.AcceptJobViewModel.AcceptWorker.Where(x => item.Job_ID == x.JobId).FirstOrDefault().IsSubmitted)
                {
                        @Html.ActionLink("View", "Details", "Job", new { jobID = item.Job_ID }, null)
                    }
                    else
                    {
                        @Html.ActionLink("Submit your entry", "ImageCreate", "Job", new { id = item.Job_ID }, null)
                    }
                </div>
            </div>
        }


     
    </div>
</div>*@
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Date_Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Date_End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.ApplicationId)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.Jobs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationId)
            </td>
            <td>

            @if (Model.AcceptWorker.Where(x => item.Job_ID == x.Job_ID).FirstOrDefault().IsSubmitted)
            {
                @Html.ActionLink("View", "Details", "Job", new { jobID = item.Job_ID }, null)
            }
            else
            {
                @Html.ActionLink("Submit your entry", "SubmitEntry", new { id = item.Job_ID })
            }

            </td>
        </tr>
    }

    </table>*@
