﻿@using Microsoft.AspNet.Identity
@model PitchIn.Models.TimelineViewModel
@*@model PitchIn.Models.AcceptJobViewModel*@
@{
    ViewBag.Title = "Index";
}

<div class="banner">
    @Html.ActionLink("Find a Work", "OpenChallenges", "Worker", null, new { @class = "buttonProject" })
    @*<input type="button" onclick="location.href='@Url.Action("Create New", "Create", "Job")'" class="buttonProject" value="Create Project" style="float: left; margin: 350px 0px 0px 525px" />*@
</div>

<div class="container-timeline pull-left">
    <h3 class="h3Header">Recent Open Challenges</h3>
    <ul class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right infinite-scroll">
        @*@Html.Partial("_JobsRow", (ViewBag.Customers as Dictionary<int, Job>))*@

    </ul>
    @*@Html.Partial("_Loading")*@

</div>
@*</div>*@<!-- end of loop-->

<div class="topPeopleDiv">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">TOP CLIENT</h3>

        </div>
        <div class="panel-body">
            TOP CLIENT
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">TOP DEV</h3>

        </div>
        <div class="panel-body">
            TOP DEV
        </div>
    </div>
</div>




@*<div id="myContent_Main">
    <div id="userContent">
        <div class="iconcontainer">
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <div class="iconbox">
                    <div class="iconbox-icon">
                        <span class="glyphicon glyphicon-file"></span>
                    </div>



                    <div class="featureinfo">
                        <h4 class="text-center">User Dashboard</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="myTimeline" class="container">
        <div class="row">
            <div class="timeline-centered">

                <article class="timeline-entry">

                    <div class="timeline-entry-inner">

                        <div class="timeline-icon bg-success">
                            <i class="entypo-feather"></i>
                        </div>

                        <div class="timeline-label">
                            <h2>Latest Challenge Accepted </h2>*@
                            @*<p>Challenge title: @Html.DisplayFor(title => title.Job.Name)</p>*@
                            @*@if (Model.getRecent != null)
                            {
                                @Html.ActionLink("View Accepted Challenge", "Details", "Job", new { jobID = Model.getRecent.JobId }, null)
                            }*@

                        @*</div>
                    </div>

                </article>

                <article class="timeline-entry">

                    <div class="timeline-entry-inner">

                        <div class="timeline-icon bg-secondary">
                            <i class="entypo-suitcase"></i>
                        </div>

                        <div class="timeline-label">
                            <h2>Latest Submitted Challenge</h2>

                            @if (Model.getRecent != null)
                            {
                                <p>@Html.ActionLink("View your entry", "Submit", "Job", new { id = Model.getRecent.Id }, null)</p>
                            }

                        </div>
                    </div>

                </article>

                <article class="timeline-entry">

                    <div class="timeline-entry-inner">

                        <div class="timeline-icon bg-secondary">
                            <i class="entypo-suitcase"></i>
                        </div>

                        <div class="timeline-label">
                            <h2>Latest Winning Challenge</h2>
                           @if (ViewBag.Win != null)
                           {
                            <p> You have earned:  @ViewBag.Win </p>
                           }
                       

                        </div>
                    </div>

                </article>


                <article class="timeline-entry begin">

                    <div class="timeline-entry-inner">

                        <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                            <i class="entypo-flight"></i> +
                        </div>

                    </div>

                </article>

            </div>


        </div>
    </div>


</div>

<div id="rightContent">

    <div id="accountSummary" class="panel panel-default" style="width:280px;">
        <div class="panel-heading libreStatsPanelHeading">
            <div class="panel-title">
                <span>Top 10 Workers (Earnings)</span>
                <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#uniqueVisitor" data-toggle="collapse"></a>
            </div>
        </div>
        <div class="panel-body libreStatsPanelBody collapse in" id="uniqueVisitor">
            <div class="row clearfix libreStatsPanelRow">
                <div class="col-md-8 column libreStatsPanelValueColumn">
                    @foreach (var top10 in Model.getTop10Win)
                    {
                        <p class="libreStatsCount">
                            @Html.DisplayFor(x=> top10.UserName) &nbsp; Earnings: @Html.DisplayFor(x => top10.totalWinnings)
                        </p>
                    }
                </div>
                <div class="col-md-4 column">
                    <span class="pull-right fa fa-user fa-5x libreStatsIcon"></span>
                </div>
            </div>
        </div>
    </div>
</div>*@
    @*<div class="jumbotron">
            <h1>You are now in Worker DashBoard</h1>
        </div>

        <div class="row">


            <div class="col-md-12 margin-top-20">
                <a href="@Url.Action("OpenChallenges","Worker")" class="btn btn btn-primary btn-lg btn-block">
                    <span class="glyphicon glyphicon-edit text-left"> Browse challenges </span>

                </a>
            </div>


            <div class="col-md-12 margin-top-20">
                <a href="@Url.Action("Accepted","Worker")" class="btn btn btn-primary btn-lg btn-block">
                    <span class="glyphicon glyphicon-ok"> View your accepted challenges </span>

                </a>
            </div>


        </div>*@

    @*<link href="~/Content/main.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <div id="sideMenu">
            <div class="col-sm-10">
                <div class="card hovercard">
                    <div class="cardheader">

                    </div>
                    <div class="avatar">
                        <img alt="" src="http://lorempixel.com/100/100/people/9/">
                    </div>
                    <div class="info">
                        <div class="title">
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </div>
                        <div class="desc"><a href="@Url.Action("OpenChallenges","Worker")">Browse Challenges</a></div>
                        <div class="desc"><a href="@Url.Action("Accepted","Worker")">Accepted Challenges</a></div>
                        <div class="desc">About 3</div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher"
                           href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher"
                           href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="#">
                            <i class="fa fa-behance"></i>
                        </a>

                        <form action='setExpressCheckout' METHOD='POST'>
                            <input type='image' name='submit' src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' border='0' align='top' alt='Check out with PayPal' />
                        </form>

                        <form action="@Url.Action("Charge")" method="POST">


                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" type="text/javascript"
                                    data-key="pk_test_9btCxOAquczpE3NIPvgUz6NT"
                                    data-image="/Images/IMG_87741.jpg"
                                    data-name="Pitch In"
                                    data-description="5 Credits"
                                    data-currency="USD"
                                    data-amount="5000"></script>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div id="myContent">*@

    @*<div id="borderTest">
                <ol class="breadcrumb">
                    Accepted Challenges
                 </ol>
                    <div id="openChallengePanel" align="center" style="padding:30px;">

                        @foreach (var item in Model.AcceptWorker)
                        {
                            <div class="row panel panel-default">
                                <div class="panel-heading">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </div>
                                <div class="panel-body">
                                    Description: &nbsp; @Html.DisplayFor(modelItem => item)
                                    <br />
                                    Date End: &nbsp; @Html.DisplayFor(modelItem => item.Date_End)
                                    <br />
                                    @if (Model.AcceptWorker.Where(x => item.Job_ID == x.Job_ID).FirstOrDefault().IsSubmitted)
                                    {
                                        //  @Html.ActionLink("View your entry", "SubmitEntry", new { id = item.Job_ID })
                                        var accept = Model.AcceptWorker.Where(x => x.Job_ID == item.Job_ID).FirstOrDefault();
                                        //  @Html.ActionLink("View your entry", "Submit", new { id = item.Job_ID }, null);
                                      @Html.ActionLink("View your entry", "Submit","Job", new { id = accept.Id }, null);
                                    }
                                    else
                                    {

                                        // @Html.ActionLink("Submit your entry", "SubmitEntry", new { id = item.Job_ID })
                                        @Html.ActionLink("Submit your entry", "ImageCreate","Job" , new { id = item.Job_ID },null)

                                    }
                                </div>
                            </div>
                        }

                        <a href="#"> <<< Prev, 1 , 2, 3.. Next >>></a>
                    </div>
        </div>*@

    @*</div>*@
