﻿@*@model IEnumerable<PitchIn.Domain.Entities.Job>*@
@model PitchIn.Models.TimelineViewModel
@{
    ViewBag.Title = "OpenChallenges";

    bool canAccept = ViewBag.clientCredits < 50 ? false : true;
}

<div class="dashboardBanner">
    Look for a project
</div>
@if (!canAccept)
{
    <div class="alert-warning btn-lg">Insufficient credits to accept challenge</div>
}

<div class="container-timeline pull-left">
    @if (Model.Jobs.Count() != 0)
    {
        foreach (var item in Model.Jobs)
        {
            <div class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right">
                <div class="panel panel-default fadeLeft" style="border-radius: 0;">
                    <div class="panel-heading panel-heading-custom " style="padding: 25px;">@Html.DisplayFor(x => item.Name)</div>
                    <div class="panel-body" style="padding: 0px;">
                        <table style="height: 146px; border-color: #000; width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="border-right: 1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; width: 30%">

                                        <div class="servive-block servive-block-yellow">
                                            <i class="icon-2x color-light fa fa-envelope"></i><br /><br />
                                            <p>@Html.DisplayFor(modelItem => item.PrizeFirst)</p>
                                        </div>

                                    </td>
                                    <td colspan="3" rowspan="2" style="border-left: 1px solid black; ">
                                        <div style="padding-left: 10px;">
                                            <i class="fa fa-user" aria-hidden="true"></i> by @Html.DisplayFor(modelItem => item.User.UserName)
                                        </div>
                                        <hr style="border-top: 1px solid #ccc;"/>
                                        <div style="padding-left: 10px;">
                                            <br />
                                            <br />
                                            @Html.DisplayFor(modelItem => item.Details)
                                            <br />
                                            Date End: &nbsp; @Html.DisplayFor(modelItem => item.Date_End)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; width: 30%">
                                        <div class="servive-block servive-block-dark-blue">
                                            <i class="icon-2x color-light fa fa-envelope"></i><br /><br />
                                            <p>@Html.DisplayFor(modelItem => item.PrizeSecond)</p>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; width: 30%">
                                        <div class="servive-block servive-block-purple">
                                            <i class="icon-2x color-light fa fa-envelope"></i><br /><br />
                                            <p>@Html.DisplayFor(modelItem => item.PrizeThird)</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td colspan="3" rowspan="3" style="border-top: 1px solid #d3d3d3; padding:10px;padding-right: 2em; text-align: right;">
                                        @Html.ActionLink("View Details", "Details", "Job", new { jobID = item.Job_ID }, null) &nbsp;
                                        @if (canAccept)
                                        {
                                            @Html.ActionLink("Accept", "Accept", new { id = item.Job_ID })
                                        }
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>There are no open challenges right now :(</h3>
    }
</div>
<div class="topPeopleDiv fadeRight">

    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search a Job" style="border-radius:0;">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" style="border-radius:0;"><i class="fa fa-search"></i></button>
        </span>
    </div>



</div>
                

 


@*<div id="myContent_Main">
        <h2 align="center">Open Challenges</h2>

        <div id="openChallengePanel" align="center" style="padding:30px;">
            @if (Model.Jobs.Count() != 0)
            {
                foreach (var item in Model.Jobs)
                {
                    <div class="row panel panel-default">
                        <div class="panel-heading">
                            @Html.DisplayFor(x => item.Name)
                        </div>
                        <div class="panel-body">
                            Description: &nbsp; @Html.DisplayFor(modelItem => item.Details)
                            <br />
                            Date End: &nbsp; @Html.DisplayFor(modelItem => item.Date_End)
                            @if (canAccept)
                            {
                                <br />
                                @Html.ActionLink("Accept", "Accept", new { id = item.Job_ID })
                            }

                        </div>
                    </div>
                }
            }
            else
            {
                <h3>There are no open challenges right now :(</h3>
            }




        </div>
    </div>*@
@*<table class="table">
        <tr>
            <th>
                Title:
            </th>
            <th>
              Description:
            </th>

            <th>
               Date End:
            </th>

            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date_End)
            </td>

            <td>

                @Html.ActionLink("Accept", "Accept", new { id=item.Job_ID })
            </td>
        </tr>
    }

    </table>*@
