﻿@model PitchIn.Domain.Entities.WorkerEntry

@{
    ViewBag.Title = "SubmitEntry";
}

<h2>SubmitEntry</h2>


@using (Html.BeginForm("SubmitEntry", "Worker", FormMethod.Post,
                                     new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="myContent_Main">
        <div id="submissionArea" class="row">
            <hr />
            <form class="form-horizontal form-group">
                <fieldset>


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @*<div class="control-group">
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input id="title" name="title" type="text" placeholder="Name" class="input-xlarge" />

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="Description">Description</label>
                            <div class="controls">
                                <textarea id="Description" cols="90" rows="2" name="Description">Description</textarea>
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input id="file" name="file" class="input-file" type="file" />
                            <br />
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Upload" class="btn btn-info" />

                        </div>
                    </div>
                    @*<div class="control-group">
                            <label class="control-label" for="filebutton">File</label>
                            <div class="controls">
                                <input id="filebutton" name="filebutton" class="input-file" type="file" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="singlebutton"></label>
                            <div class="controls">
                                <button id="singlebutton" name="singlebutton" class="btn btn-info">Upload</button>
                            </div>
                        </div>*@

                </fieldset>
            </form>

        </div>
    </div>
            @*<div class="form-horizontal">
                <h4>WorkerEntry</h4>
                <hr />*@


            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@



            @*<div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        <input type="file" id="file" name="file" /><br />
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>*@








            @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
