﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BanNotif</title>
</head>
<body>
    <div> 
        <h1>YOUR ACCOUNT HAS BEEN FLAGGED AS BANNED. </h1>
        <small>Please contact the Administrator.</small>
    </div>
</body>
</html>
