﻿@{
    ViewBag.Title = "Home Page";
}



<script src="~/Scripts/smooth-scroll.js" type="text/javascript">
</script>

<body>


    <div id="startchange"></div>
    <div class="box3">
        <div class="box3-1 pull-left">
            <h2 style="color: #fff;">Do you want to hire?</h2>
            <hr style="width: 50%; border: 2px solid #036cc6;" />
            <p style="color: #fff;">
                Post your project and receive suggestions where
                you can freely choose which are the best.
            </p>
            <br />
            <br />
            <a href="@Url.Action("Register", "Account")" class="btn btn-default btn-transparent pull-right " style="padding-top:20px;color: #fff; font-weight: bold;">LOG IN</a>
            @*<input id="Button1" type="button" value="LOG IN" class="btn btn-default btn-transparent pull-right" style="color: #fff; font-weight: bold;" />*@

        </div>
        <div class="box3-2 pull-right">
            <h2 style="color: #ffffff;">Do you want to work?</h2>
            <hr style="width: 50%; border: 2px solid #036cc6;" />
            <p style="color: #ffffff;">
                Choose in a list of projects provided to you
                and turn your ideas into reality.
            </p>
            <br />
            <br />

            <a href="@Url.Action("Login", "Account")" class="btn btn-default btn-transparent pull-left " style="padding-top:20px;color: #fff; font-weight: bold;">SIGN UP</a>
        </div>
    </div>
    <div class="box2" id="Team">
        <div class="container-fluid">
            <div class="text-center">
                <h2 style="font-weight: bold;">Our Team</h2>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center" style="padding: 0 30% 0 30%">
                    <div class="col-lg-4 ">
                        <img alt="Jay" src="~/Images/bill-gates.jpg" class="img-circle img-responsive" />

                        <h4>Jayward Tamares</h4>
                        <hr />
                        <p>Full Stack Developer</p>
                        <p>Project Manager</p>
                    </div>

                    <div class="col-lg-4">
                        <img alt="Jay" src="~/Images/steve-jobs.jpg" class="img-circle img-responsive" />
                        <h4>Brian Jumaquio</h4>
                        <hr />
                        <p>Back End Developer</p>
                        <p>Team Lead</p>
                    </div>
                    <div class="col-lg-4 ">
                        <img alt="Jay" src="~/Images/man-1.png" class="img-circle img-responsive" />
                        <h4>Odale Patrick Roxas</h4>
                        <hr />
                        <p>Taga Post Ng Wishes</p>
                        <p>Assistant Lead</p>
                    </div>

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12 text-center" style="padding: 0 30% 0 30%">
                    <div class="col-lg-3 ">
                        <img alt="Jay" src="~/Images/female-1.png" class="img-circle img-responsive" />
                        <h4>Test</h4>
                        <hr />
                        <p>test 1</p>
                    </div>

                    <div class="col-lg-3 ">
                        <img alt="Jay" src="~/Images/man-2.png" class="img-circle img-responsive" />
                        <h4>Test</h4>
                        <hr />
                        <p>test 2</p>

                    </div>
                    <div class="col-lg-3 ">
                        <img alt="Jay" src="~/Images/egg-1.jpg" class="img-circle img-responsive" />
                        <h4>Test</h4>
                        <hr />
                        <p>test 3</p>
                    </div>
                    <div class="col-lg-3 ">
                        <img alt="Jay" src="~/Images/female-2.png" class="img-circle img-responsive" />
                        <h4>Test</h4>
                        <hr />
                        <p>test 4</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="box1" id="Categories">
        <div class="container-fluid">
            <div class="text-center">
                <h2 style="font-weight: bold;">Categories</h2>
            </div>
            <div class="col-lg-12" style="padding: 0 30% 10px 30%;">
                <div class="col-md-6 boxDev text-center ">
                    <img src="~/Images/art-icon.jpg" style="width: 150px;" />
                    <hr style="width: 50%; border: 1px solid #808080;" />
                    <p style="font-weight: bold; font-size: 15px;">ART PROJECTS</p>
                    <br />
                    <p style="font-size: 12px;">
                        Projects that are all about art, such as,
                        <br /> paintings, drawings, etc.

                    </p>
                </div>

                <div class="col-md-6 boxDev text-center">
                    <img src="~/Images/dev-icon.png" style="width: 150px;" />
                    <hr style="width: 50%; border: 1px solid #808080;" />
                    <p style="font-weight: bold; font-size: 15px;">PROGRAMMING PROJECTS</p>
                    <br />
                    <p style="font-size: 12px;">
                        The projects involved are website design,
                        <br /> wpf, wireframes, etc.

                    </p>
                </div>
            </div>



        </div>
    </div>
    <div class="footer text-center">
        <div class="container">
            <div class="col-lg-12">
                <div class="col-lg-3">
                    Test
                </div>
                <div class="col-lg-3">
                    Test
                </div>
                <div class="col-lg-3">
                    Test
                </div>
                <div class="col-lg-3">
                    Test
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="back-to-top" class="btn btn-default">Back To Top</a>
</body>
@*<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Optimized for mobile -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Pitch In</a>
            </div>
            <!-- Navigation -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Gallery</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Join Us</a>
                    </li>
                </ul>
            </div>
            <!-- End of navigation -->
        </div>
        <!-- end of container -->
    </nav>*@
@*<header id="page-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="http://ironsummitmedia.github.io/startbootstrap-freelancer/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Pitch-in</span>
                        <hr class="star-light">
                        <h2><p class="skills">Got an Idea?</p></h2>
                        <h3><p class="skills">Let's build it!</p></h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content-wrapper">
        <section class="primary" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Gallery</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="Carousel" class="carousel slide">

                            <ol class="carousel-indicators">
                                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#Carousel" data-slide-to="1"></li>
                                <li data-target="#Carousel" data-slide-to="2"></li>
                            </ol>



                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="~/Images/250x250.png" alt="Image" style="max-width:100%;"></a></div>
                                    </div>
                                </div>

                            </div>
                            <br />


                        </div>*@

@*</div>
            </div>
        </div>
    </section>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Pitch in is a development web app for developers to collaborate and interact to create a system.</p>
                </div>
                <br />
                <div class="col-lg-4">
                    <p>created by Applink</p>
                </div>
            </div>
        </div>
    </section>
    <section class="primary" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Join Us</h2>
                    <hr class="star-primary">
                </div
                </div>>*@
<!-- Contact Form -->
@*<div class="row">
                    <div class="col-lg-12 col-lg-offset-3">
                        <div class="col-md-2 column productbox">
                            <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
                            <div class="producttitle">Trial Developer</div>
                            <div class="productprice">
                                <div class="pull-right">
                                    <a href="#" class="btn btn-danger btn-sm" role="button">Get now!</a>
                                </div>
                                <div class="pricetext">Free</div>
                            </div>
                        </div>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <div class="col-md-2 column productbox">
                            <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
                            <div class="producttitle">Pro Developer</div>
                            <div class="productprice">
                                <div class="pull-right">
                                    <a href="#" class="btn btn-danger btn-sm" role="button">Get now!</a>
                                </div>
                                <div class="pricetext">P2500</div>
                            </div>
                        </div>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <div class="col-md-2 column productbox">
                            <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
                            <div class="producttitle">Client</div>
                            <div class="productprice">
                                <div class="pull-right">
                                    <a href="#" class="btn btn-danger btn-sm" role="button">Get now!</a>
                                </div>
                                <div class="pricetext">P3000</div>
                            </div>
                        </div>
                    </div>


                </div>
                <br />
                <br />
                <hr class="star-primary">
                <div class="col-lg-8 col-lg-offset-3">
                    Payment Methods accepted :
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-2 column">
                            <span class="glyphicon glyphicon-credit-card">&nbsp Paypal</span>
                        </div>
                        <div class="col-md-2 column">
                            <span class="glyphicon glyphicon-credit-card">&nbsp Paypal</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="container" style="min-height:200px; background: url(https://pcbx.us/bfjb.jpg);background-repeat:initial;color:#fff;text-align:center;padding-top:50px;">
            INSPIRED BY PURECSS.IO © 2015
        </footer>
    </div>*@

