﻿@model PitchIn.Models.TimelineViewModel
@using Microsoft.AspNet.Identity
@using PitchIn.Domain.Entities


@{
    ViewBag.Title = "Client Dashboard";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboardBanner">
        User Dashboard
    </div>
    <div class="container-timeline pull-left" style="height: 550px;">
        <div class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right">
            <div class="panel panel-default fadeLeft" style="border-radius: 0;">
                <div class="panel-heading panel-heading-custom-dashboard" style="padding: 25px;">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    &nbsp;&nbsp;Recent Activities
                </div>
                <div class="panel-body" style="padding: 0px;">
                    <ul class="list-group">
                        @if (Model.Job != null || Model.getRecentClose != null)
                        {
                            <li class="list-group-item list-group-item-custom">
                                <div class="pull-left">
                                    You have posted a new challenge.
                                </div>
                                <div class="pull-right">
                                    <a href="@Url.Action("Details", "Job", new { jobID = Model.Job.Job_ID }, null)" , title="View Details">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </li>
                            <li class="list-group-item list-group-item-custom">
                                <div class="pull-left">
                                    You have closed a challenge.
                                </div>
                                <div class="pull-right">
                                    <a href="@Url.Action("Details", "Job", new { jobID = Model.Job.Job_ID }, null)" , title="View Details">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </li>
                        }
                        else
                        {
                            <li class="list-group-item list-group-item-custom">
                                <div class="pull-left">
                                    No recent activities.
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="topPeopleDiv fadeRight">

        <div class="panel panel-primary" style="border-radius:0;">
            <div class="panel-heading" style="border-radius:0;">
                <h3 class="panel-title">Statistics</h3>
            </div>
            <div class="panel-body" style="padding: 25px;">
                <div class="row">
                    Credits: <p class="pull-right">$@ViewBag.credits</p>
                </div>
                <div class="row">
                    Payments: <p class="pull-right">$0.00</p>
                </div>
                <div class="row">
                    <form action="@Url.Action("Charge")" method="POST">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" type="text/javascript"
                                data-key="pk_test_9btCxOAquczpE3NIPvgUz6NT"
                                data-image="/Images/IMG_87741.jpg"
                                data-name="Pitch In"
                                data-description="5 Credits"
                                data-currency="USD"
                                data-amount="5000"></script>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-primary" style="border-radius:0;">
            <div class="panel-heading" style="border-radius:0;">
                <h3 class="panel-title">Projects</h3>
            </div>
            <div class="panel-body" style="padding: 25px;">
                <div class="row">
                    Active Projects: <p class="pull-right">0.00</p>
                </div>
                <div class="row">
                    Completed Projects: <p class="pull-right">0.00</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
