﻿@using Microsoft.AspNet.Identity
@using PitchIn.Domain.Entities
@model PitchIn.Models.TimelineViewModel

@{
    ViewBag.Title = "Index";
    
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Scripts/tag-it.js"></script>
@*



    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/timeline.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>*@
<!-- search-->
<link href="~/Theme/redmond/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTags").tagit({
            availableTags: ["asdf", "123"]
        }

            );
    });
</script>

<script>
    function searchFailed() {
        $("#searchresults").html("Sorry, there was a problem with the search.");
    }


</script>

<script type="text/javascript">
    $(function () {
        $("input[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
        });

    });


</script>
@if (ViewBag.PaymentComplete != null)
{
    <div class="popup">ViewBag.PaymentComplete</div>
}

@if (TempData["foo"] != null)
{
    <div class="alert-success btn-lg">@TempData["foo"]</div>
}

@if (TempData["clientCredits"] != null)
{
    <div class="alert-danger btn-lg">@TempData["clientCredits"]</div>
}

<div class="banner">
    @Html.ActionLink("Create Project", "Create", "Job", null, new { @class = "buttonProject"})
    @*<input type="button" onclick="location.href='@Url.Action("Create New", "Create", "Job")'" class="buttonProject" value="Create Project" style="float: left; margin: 350px 0px 0px 525px" />*@
</div>

<div class="container-timeline pull-left">
    <h3 class="h3Header">Latest Projects</h3>
    <!-- START OF FOREACH -->

    <ul class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right infinite-scroll"  >
        @Html.Partial("_JobsRow", (ViewBag.Customers as Dictionary<int, Job>))
      
    </ul>
    @Html.Partial("_Loading")
 
</div>
@*</div>*@<!-- end of loop-->

<div class="topPeopleDiv">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">TOP CLIENT</h3>

        </div>
        <div class="panel-body">
            TOP CLIENT
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">TOP DEV</h3>

        </div>
        <div class="panel-body">
            TOP DEV
        </div>
    </div>
</div>

<div class="Footer">
    <p>
        Lorem ipsum從15世紀開始就被廣泛地使用在西方的印刷、設計領域中，在電腦排版盛行之後，這段被傳統印刷產業使用幾百年的無意義文字又再度流行。由於這段文字以「Lorem ipsum」起頭，並且常被用於標題的測試中，所以一般稱為Lorem ipsum，簡稱為Lipsum。

        常見的Lorem ipsum起頭如下：

        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>


@*<div id="myContent_Main">
        <div class="panel panel-default">
            <div class="panel-heading">Search challenges</div>
            <div class="panel-body">
                @using (Ajax.BeginForm("SearchJob", "Job",
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                        OnFailure = "searchFailed",
                        LoadingElementId = "ajax-loader",
                        UpdateTargetId = "searchresults",
                    }))


                {
                    <input type="text" name="q" data-autocomplete-source="@Url.Action("AutoComp", "Job")" />
                    <input type="submit" value="search" />
                    <img id="ajax-loader" src="@Url.Content("~/Images/ajax-loader.gif")" style="display:none" />
                }

                <div id="searchresults"></div>
            </div>
        </div>



        <div class="tags">
            <label for="tags">
                Tags
            </label>
            <ul id="mytags"></ul>
        </div>


        <div class="ui-widget">
            <label for="tags">
                Tags:
            </label>
            <input id="tags" />
        </div>


        <div id="userContent">
            <div class="iconcontainer">
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="glyphicon glyphicon-file"></span>
                        </div>



                        <div class="featureinfo">
                            <h4 class="text-center">User Dashboard</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div id="myTimeline" class="container">
            <div class="row">
                <div class="timeline-centered">

                    <article class="timeline-entry">

                        <div class="timeline-entry-inner">

                            <div class="timeline-icon bg-success">
                                <i class="entypo-feather"></i>
                            </div>

                            <div class="timeline-label">
                                <h2>Challenge Reminder<span> Details</span></h2>

                                @if (Model.Job != null)
                                {
                                    <p>You have an posted a new Challenge.</p>
                                    @Html.ActionLink("View Challenge", "Details", "Job", new { jobID = Model.Job.Job_ID }, null)
                                }
                                else
                                {
                                    <p>No new challenges posted.</p>
                                }
                            </div>
                        </div>

                    </article>

                    <article class="timeline-entry">

                        <div class="timeline-entry-inner">

                            <div class="timeline-icon bg-secondary">
                                <i class="entypo-suitcase"></i>
                            </div>

                            <div class="timeline-label">
                                <h2>View Recently Closed Challenge</h2>
                                @if (Model.getRecentClose != null)
                                {
                                    @Html.ActionLink("View Challenge", "Details", "Job", new { jobID = Model.Job.Job_ID }, null)
                                }
                                else
                                {
                                    <p>Currently no recent closed challenges.</p>
                                }
                            </div>
                        </div>

                    </article>

                    <article class="timeline-entry">

                        <div class="timeline-entry-inner">

                            <div class="timeline-icon bg-secondary">
                                <i class="entypo-suitcase"></i>
                            </div>

                            <div id="inputTimeline" class="timeline-label">
                                <h2>
                                    <a href="#">
                                        <asp:Label ID="Label1" Text="Label"></asp:Label>
                                    </a>
                                </h2>
                                <p>
                                    <asp:Label ID="Label2" Text="Label"></asp:Label>
                                    <strong>
                                        <asp:Label ID="Label3" Text="Label"></asp:Label>
                                    </strong>
                                    <asp:Label ID="Label4" Text="Label"></asp:Label>.
                                </p>
                            </div>
                        </div>

                    </article>



                    <article class="timeline-entry begin">

                        <div class="timeline-entry-inner">

                            <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                                <i class="entypo-flight"></i> +
                            </div>

                        </div>

                    </article>

                </div>


            </div>
        </div>
    </div>



        <div id="rightContent">
            <div id="accountSummary" class="panel panel-default" style="width:280px;">
                <div class="panel-heading libreStatsPanelHeading">
                    <div class="panel-title">
                        <span>Top 10 Workers (Earnings)</span>
                        <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#uniqueVisitor" data-toggle="collapse"></a>
                    </div>
                </div>
                <div class="panel-body libreStatsPanelBody collapse in" id="uniqueVisitor">
                    <div class="row clearfix libreStatsPanelRow">
                        <div class="col-md-8 column libreStatsPanelValueColumn">
                            @foreach (var top10 in Model.getTop10Win)
                            {
                                <p class="libreStatsCount">
                                    @Html.DisplayFor(x => top10.UserName) &nbsp; Earnings: @Html.DisplayFor(x => top10.totalWinnings)
                                </p>
                            }
                        </div>
                        <div class="col-md-4 column">
                            <span class="pull-right fa fa-user fa-5x libreStatsIcon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

@*<link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <div id="sideMenu">
        <div class="col-sm-10">
            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>
                <div class="info">
                    <div class="title">
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </div>
                    <div class="desc">Remaining credits : @ViewBag.credits</div>
                    <div class="desc">About 2</div>
                    <div class="desc">About 3</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="#">
                        <i class="fa fa-behance"></i>
                    </a>

                    <form action='setExpressCheckout' METHOD='POST'>
                        <input type='image' name='submit' src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' border='0' align='top' alt='Check out with PayPal' />
                    </form>

                    <form action="@Url.Action("Charge")" method="POST">


                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" type="text/javascript"
                                data-key="pk_test_9btCxOAquczpE3NIPvgUz6NT"
                                data-image="/Images/IMG_87741.jpg"
                                data-name="Pitch In"
                                data-description="5 Credits"
                                data-currency="USD"
                                data-amount="5000"></script>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="myContent">*@
@*<p>
            @Html.ActionLink("Create New", "Create", "Job")
        </p>
        <div id="openChallengePanel" align="center" style="padding:30px;">
            @foreach (var item in Model)
    <a href="~/App_Start/RouteConfig.cs">~/App_Start/RouteConfig.cs</a>
            {
                <div class="row panel panel-default">
                    <div class="panel-heading">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="panel-body">
                        Description: &nbsp; @Html.DisplayFor(modelItem => item.Details)
                        <br />
                        @Html.DisplayNameFor(model => model.Date_End): &nbsp; @Html.DisplayFor(modelItem => item.Date_End)
                        <br />
                        <a href="#">view</a>
                    </div>
                </div>
            }

            <a href="#"> <<< Prev, 1 , 2, 3.. Next >>></a>

        </div>*@

@*</div>

    <div id="rightContent">
        <!-- Account Summary -->
        <div id="accountSummary" runat="server" class="panel panel-default" style="width:280px;">
            <div class="panel-heading libreStatsPanelHeading">
                <div class="panel-title">
                    <span>Summary</span>
                    <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#uniqueVisitor" data-toggle="collapse"></a>
                </div>
            </div>
            <div class="panel-body libreStatsPanelBody collapse in" id="uniqueVisitor">
                <div class="row clearfix libreStatsPanelRow">
                    <div class="col-md-8 column libreStatsPanelValueColumn">
                        Completed Challenges<p class="libreStatsCount">
                            <asp:Label ID="completeChallenge" runat="server" Text="Label"></asp:Label>
                        </p>
                        <small>Submitted</small>
                    </div>
                    <div class="col-md-4 column">
                        <span class="pull-right fa fa-user fa-5x libreStatsIcon"></span>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).on('click', '.panel-heading span.clickable', function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
                } else {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
                }
            });
            $(document).on('click', '.panel div.clickable', function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
                } else {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
                }
            });
            $(document).ready(function () {
                $('.panel-heading span.clickable').click();
                $('.panel div.clickable').click();
            });
        </script>
        <!-- Site News -->
        <div id="myNewsPanel" runat="server">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Site News
                    </h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div id="myNewsBody" class="panel-body" runat="server">

                    <section><a href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>&nbsp User 123 - completed Challenge.</section>
                    <section><a href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>&nbsp User abc - completed Challenge.</section>

                    <div class="row" style="padding-left:180px;"><a href="#">View All</a></div>
                </div>
            </div>
        </div>
        <!-- Open Challenges -->
        <div id="openChallengesPanel" runat="server">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Open Challenges
                    </h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>

                <div id="openChallengesBody" class="panel-body" runat="server">
                    @foreach (var item in Model)
                    {

                        <section>
                            <a href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            @Html.DisplayFor(modelItem => item.Name)
                        </section>

                    }
                    <div class="row" style="padding-left:180px;"></div>
                    <a href="@Url.Action("List","Client")">
                        View All Challenges
                    </a>
                </div>

            </div>
        </div>
    </div>*@
@*<div class="jumbotron">
        <h1>You are now in Client DashBoard</h1>
        <p1>Remaining credits : @ViewBag.credits</p1>
    </div>

    <div class="row">

        <div class="col-md-12 margin-top-20">
            <a href="@Url.Action("List", "Client")" class="btn btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-edit text-left">View your challenges </span>

            </a>
        </div>
        @if (ViewBag.credits > 0)
        {
            <div class="col-md-12 margin-top-20">
                <a href="@Url.Action("Create","Job")" class="btn btn btn-primary btn-lg btn-block">
                    <span class="glyphicon glyphicon-edit text-left"> Post A Challenge </span>

                </a>
            </div>
        }*@


@*========= COMMENT FOR REAL======== *@
@*<div class="col-md-12 margin-top-20">
        <a href="@Url.Action("Details","Job")" class="btn btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-ok"> View Challenge </span>

        </a>
    </div>*@
@* =========== *@
@*<div class="text-center margin-top-20">
            <form action='setExpressCheckout' METHOD='POST'>
                <input type='image' name='submit' src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' border='0' align='top' alt='Check out with PayPal' />
            </form>

        </div>


    </div>*@

@*<div class="text-center margin-top-20">

        <form action="@Url.Action("Charge")" method="POST">


            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" type="text/javascript"
                    data-key="pk_test_9btCxOAquczpE3NIPvgUz6NT"
                    data-image="/Images/IMG_87741.jpg"
                    data-name="Pitch In"
                    data-description="5 Credits"
                    data-currency="USD"
                    data-amount="5000"></script>
        </form>


    </div>*@

@section Scripts{
 <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>
  <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/infiniteScroll.js"></script>
<script type="text/javascript">
                $(function () {
                    $("div#loading").hide();
                });
    @*var moreRowsUrl = '@Url.Action("index", "ul")';*@
    var moreRowsUrl='@Url.RouteUrl("JobList")';
    $(window).scroll(scrollHandler);
</script>
 }