﻿@model PitchIn.Models.TimelineViewModel

@{
    ViewBag.Title = "List";
}

<div class="dashboardBanner">
    List of Projects
</div>

<div class="container-timeline pull-left">

    <div class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right">
        <div class="panel panel-default fadeLeft" style="border-radius: 0;">
            <div class="panel-heading panel-heading-custom " style="padding: 25px;">Panel Heading</div>
            <div class="panel-body" style="padding: 0px;">
                <table style="height: 146px; border-color: #000; width: 100%;">
                    <tbody>
                        <tr>
                            <td style="border-right: 1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; width: 30%">

                                <div class="servive-block servive-block-yellow">
                                    <i class="icon-2x color-light fa fa-envelope"></i><br /><br />
                                    <p>Price 1</p>
                                </div>

                            </td>
                            <td colspan="3" rowspan="2" style="border-left: 1px solid black;">
                                <br />
                                <br />
                                test2
                            </td>
                        </tr>
                        <tr>
                            <td style="border-right: 1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; width: 30%">
                                <div class="servive-block servive-block-dark-blue">
                                    <i class="icon-2x color-light fa fa-envelope"></i><br /><br />
                                    <p>Price 2</p>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td style="border-right: 1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; width: 30%">
                                <div class="servive-block servive-block-purple">
                                    <i class="icon-2x color-light fa fa-envelope"></i><br /><br />
                                    <p>Price 3</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="3" style="border-top: 1px solid #d3d3d3; padding:10px;padding-right: 2em; text-align: right;"><a href="ProjectDetails.aspx">View Project</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="topPeopleDiv fadeRight">
    <div class="fakeshadow"></div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">TOP CLIENT</h3>

        </div>
        <div class="panel-body">
            TOP CLIENT
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">TOP DEV</h3>

        </div>
        <div class="panel-body">
            TOP DEV
        </div>
    </div>
</div>



@*<div id="myContent_Main">
    <ol class="breadcrumb">
        <b>Created Challenges</b>
    </ol>
    @Html.ActionLink("Create New", "Create", "Job")*@

    @*<div id="openChallengePanel" align="center" style="padding:30px;">*@
        @*@if (Model.Jobs != null)
        {
            if (Model.Jobs.Count() == 0)
            {
                <div class="alert-success btn-lg">No Created Challenge Yet!</div>
            }
        }
        else
        {*@
            @*@foreach (var item in Model.Jobs)
            {

                if (item.isOpen == true)
                {
                    <div class="row panel panel-default">
                        <div class="panel-heading">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <div class="panel-body">
                            Description: &nbsp; @Html.DisplayFor(modelItem => item.Details)
                            <br />
                            @Html.DisplayNameFor(model => item.Date_End): &nbsp; @Html.DisplayFor(modelItem => item.Date_End)
                            <br />
                            @Html.ActionLink("View", "Details", "Job", new { jobID = item.Job_ID }, null) &nbsp;
                            @Html.ActionLink("Close Challenge", "Close", new { jobID = item.Job_ID })
                        </div>
                    </div>
                }


            }*@
            
        @*}*@
        @*<a href="#"> <<< Prev, 1 , 2, 3.. Next >>></a>*@
    @*</div>
</div>*@