﻿@model PitchIn.Models.TimelineViewModel
@{
    ViewBag.Title = "Choose";
}
<script>
    $(document).ready(function () {
        $("#State").prop("disabled", true);
        $("#Country").change(function () {
            if ($("#Country").val() != "Select") {
                var CountryOptions = {};
                CountryOptions.url = "/job/states";
                CountryOptions.type = "POST";
                CountryOptions.data = JSON.stringify({ Country: $("#Country").val() });
                CountryOptions.datatype = "json";
                CountryOptions.contentType = "application/json";
                CountryOptions.success = function (StatesList) {
                    $("#State").empty();
                    for (var i = 0; i < StatesList.length; i++) {
                        $("#State").append("<option>" + StatesList[i] + "</option>");
                    }
                    $("#State").prop("disabled", false);
                };
                CountryOptions.error = function () { alert("Error in Getting States!!"); };
                $.ajax(CountryOptions);
            }
            else {
                $("#State").empty();
                $("#State").prop("disabled", true);
            }
        });
    });
</script>

<script>
    var selects = $('.dd');
    selects.change(function () {
        // build array of selected option indexes
        var indexes = [];
        $.each(selects, function () {
            indexes.push($(this).children('option:selected').index());
        });
        $.each(selects, function () {
            // get the current selected option index
            var selected = $(this).children('option:selected').index();
            // enable/disable options
            $.each($(this).children('option'), function (index, item) {
                if ($(this).val() && indexes.indexOf(index) > -1 && index != selected) {
                    $(this).prop('disabled', true); // or $(this).hide();
                } else {
                    $(this).prop('disabled', false); // or $(this).show();
                }
            });
        });
    });
</script>


<div class="btn-lg btn-block" > </div>

@if (ViewBag.WinnerText != null)
{
    <h1> @ViewBag.WinnerText</h1>
}

@using (Html.BeginForm())
{
    <input type="hidden" value="@ViewBag.WinnerText" name="Message" />
    @Html.DropDownList("DropDown")
    <br />
    <input type="submit" value="OK" />

}




@*@using (Html.BeginForm("Index", "Sample", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Select Country & States</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.Label("Select Country:", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Country", ViewData["Countries"] as SelectList, new { @class = "form-control" })
        </div>
    </div><br />
    <div class="form-group">
        @Html.Label("Select States:", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select id="State"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}*@
