﻿@model PitchIn.Models.TimelineViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="dashboardBanner">
        Closed Projects
    </div>
    <div class="container-timeline pull-left" style="height: 550px;">
        <div class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right">
            <div class="panel panel-default fadeLeft" style="border-radius: 0;">
                <div class="panel-heading panel-heading-custom-dashboard" style="padding: 25px;">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    &nbsp;&nbsp;Projects Closed
                </div>

                <div class="panel-body" style="padding: 0px;">
                    <ul class="list-group">
                        @foreach (var item in Model.Jobs)
                        {
                            if (item.isOpen == false)
                            {
                                <li class="list-group-item list-group-item-custom">
                                    @Html.DisplayFor(modelItem => item.Name)
                                    <div class="pull-right">
                                        <a href="@Url.Action("Details", "Job", new { jobID = item.Job_ID }, null)", title="View Details">
                                            <span class="fa fa-eye"></span>               
                                        </a> &nbsp;
                                        <a href="@Url.Action("Permanent Delete", "DeleteJob", new { jobID = item.Job_ID}, null)", title="Delete">
                                            <span class="fa fa-trash-o"></span>
                                        </a> &nbsp;
                                        <a href="@Url.Action("Re-open", "OpenJob", new { jobID = item.Job_ID}, null)", title="Re-open">
                                            <span class="fa fa-repeat"></span>
                                        </a> &nbsp;
                                        
                                    </div>                                    
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="topPeopleDiv fadeRight">
        <div class="panel panel-primary" style="border-radius: 0;">
            <div class="panel-heading" style="border-radius: 0;">
                <h3 class="panel-title">Statistics</h3>
            </div>
            <div class="panel-body" style="padding: 25px;">
                <div class="row">
                    Credits:
                    <p class="pull-right">$0.00</p>
                </div>
                <div class="row">
                    Payments:
                    <p class="pull-right">$0.00</p>
                </div>
                <div class="row">
                    Projects Created:
                    <p class="pull-right">0.00</p>
                </div>
            </div>
        </div>

    </div>



    @*<div id="openChallengePanel" align="center" style="padding:30px;">

        @foreach (var item in Model.Jobs)
        {
            if (item.isOpen == false)
            {
                <div class="row panel panel-default">
                    <div class="panel-heading">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="panel-body">
                        Description: &nbsp; @Html.DisplayFor(modelItem => item.Details)
                        <br />
                        @Html.DisplayNameFor(model => item.Date_End): &nbsp; @Html.DisplayFor(modelItem => item.Date_End)
                        <br />
                        @Html.ActionLink("View", "Details", "Job", new { jobID = item.Job_ID }, null) &nbsp;
                        @Html.ActionLink("Permanent Delete", "DeleteJob", new { jobID = item.Job_ID }) &nbsp;
                        @Html.ActionLink("Re-open", "OpenJob", new { jobID = item.Job_ID })
                    </div>
                </div>
            }
        }

    </div>*@

</body>
</html>
