﻿@model PitchIn.Domain.Entities.Job
@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    (function ($) {
        $.validator.addMethod("prizes", function () {
            return false;
        }, "Clientside Should Not Postback");

        $.validator.unobtrusive.adapters.addBool("prizes");
    })(jQuery);

</script>

<script type='text/javascript'>

        function validateTextBoxes() { 
            var a = parseInt(document.getElementById('1st').value, 10);
            var b = parseInt(document.getElementById('2nd').value, 10);
            var c = parseInt(document.getElementById('3rd').value, 10);
            if(b > a && c > a){
                alert("2nd Prize or 3rd Prize 3 cannot be greater than 1st Prize.");

                document.getElementById('b').value = '';
                document.getElementById('b').focus();
                document.getElementById('c').value = '';
                document.getElementById('c').focus();
                return false;
            }
            else if(c > b)
            {
                alert("3rd Prize cannot be greater than 2nd Prize.");
                document.getElementById('c').value = '';
                document.getElementById('c').focus();
                return false;
            }
            else{
                // Otherwise it's valid, do something here
                return true;
            }
        }

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="dashboardBanner">
        Post a Project
    </div>
    <div class="container-timeline pull-left">
        <div class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right">
            <div class="panel panel-default fadeLeft" style="border-radius: 0;">
                <div class="panel-heading panel-heading-custom-dashboard" style="padding: 25px;">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    &nbsp;&nbsp;Project Details
                </div>
                <div class="panel-body" style="padding: 0px;">
                    <h4 style="margin-bottom:0; padding-left:40px; padding-top:10px;">Information</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-custom" style="border-bottom: 2px solid #ccc;">
                            Project Name
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { style = "border-radius: 0;", @class = "form-control", placeholder = "Enter a valid name." } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            <br/>
                            <p style="margin-bottom: 5px;">Project Details</p>
                            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { style = "border-radius: 0", @class = "form-control", placeholder = "Please provide appropriate details for your project." } })
                            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                        </li>

                        <li class="list-group-item list-group-item-custom form-inline" style="border-bottom: 2px solid #ccc;">
                            <h4 style="margin-bottom:0;">Prizes</h4>  <br />
                            <div class="form-group">
                                <label>First Prize:</label> &nbsp&nbsp;&nbsp;&nbsp;
                                @Html.EditorFor(model => model.PrizeFirst, new { htmlAttributes = new { @class = "form-control", @id = "1st", placeholder = "Enter the first prize.", style = "border-radius: 0;" } })
                                @Html.ValidationMessageFor(model => model.PrizeFirst, "", new { @class = "text-danger" })
                            </div><br /> <br />
                            <div class="form-group">
                                <label>Second Prize:</label>
                                @Html.EditorFor(model => model.PrizeSecond, new { htmlAttributes = new { @class = "form-control", @id = "2nd", placeholder = "Enter the second prize.", style = "border-radius: 0;" } })
                                @Html.ValidationMessageFor(model => model.PrizeSecond, "", new { @class = "text-danger" })


                            </div>
                            <br /> <br />
                            <div class="form-group">
                                <label>Third Prize:</label>&nbsp&nbsp;&nbsp;&nbsp;
                                @Html.EditorFor(model => model.PrizeThird, new { htmlAttributes = new { @class = "form-control", @id = "3rd", placeholder = "Enter the third prize.", style = "border-radius: 0;" } })
                                @Html.ValidationMessageFor(model => model.PrizeThird, "", new { @class = "text-danger" })
                             

                            </div>

                        </li>
                        <li class="list-group-item list-group-item-custom" style="border-bottom: 2px solid #ccc;">
                            <div class="form-group">
                                <label>Deadline</label>
                                @Html.EditorFor(model => model.Date_End, new { htmlAttributes = new { @class = "form-control", type = "date", placeholder = "Enter the deadline for this project", style = "border-radius: 0;" } })
                            </div>

                        </li>

                        <li class="list-group-item list-group-item-custom">            
                            <input type="submit" class="btn btn-default pull-right" value="Create Project" style="border-radius:0;" onclick='return validateTextBoxes();' />
                            @Html.ActionLink("Back to List", "List", "Client", new { htmlAttributes = new { @class = "btn btn-default", style = "border-radius:0;" } })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="topPeopleDiv fadeRight">

        <div class="panel panel-primary" style="border-radius: 0;">
            <div class="panel panel-heading" style="border-radius: 0;">
                <h3 class="panel-title">Credit details</h3>
            </div>
            <div class="panel-body" style="padding: 25px;">
                <div class="row">
                    Remaining Credits:
                    <p class="pull-right">$0.00</p>
                </div>
            </div>
        </div>

    </div>




    @*<div class="form-horizontal">
        <h4>Job</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrizeFirst, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrizeFirst, new { htmlAttributes = new { @class = "form-control", @id = "1st" } })
                @Html.ValidationMessageFor(model => model.PrizeFirst, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PrizeSecond, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrizeSecond, new { htmlAttributes = new { @class = "form-control", @id = "2nd" } })
                @Html.ValidationMessageFor(model => model.PrizeSecond, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PrizeThird, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrizeThird, new { htmlAttributes = new { @class = "form-control", @id = "3rd" } })
                @Html.ValidationMessageFor(model => model.PrizeThird, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date_Created, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date_Created, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="row">
            @Html.LabelFor(model => model.Date_End, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Date_End, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                <br />
                @Html.EditorFor(model => model.Date_End, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                @Html.ValidationMessageFor(model => model.Date_End, "", new { @class = "text-danger" })

            </div>

        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick='return validateTextBoxes();' />
            </div>
        </div>
    </div>*@
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
