﻿@*@model PitchIn.Domain.Entities.Job*@
@using Microsoft.AspNet.Identity
@model PitchIn.Models.TimelineViewModel
@{
    ViewBag.Title = "Details";

    ViewBag.jobID = Model.Job.Job_ID;

    var workerNames = ViewBag.WorkerNames as Dictionary<string, string>;

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "result",
        InsertionMode = InsertionMode.InsertAfter

    };



}


<script type="text/javascript">
    //$(document).on("click", ".modalLink", function () {
    //    var passedID = $(this).data('id');
    //    $(".modal-body .hiddenid").val(passedID);
    //});
    $('.modalLink').on("click", function () {

        var id = $(this).data('id');
        $.ajax({
            url: this.href,
            type: 'GET',
            cache: false,
            data: { id: id },
            success: function (result) {
                $('#editModal').html(result).find('.modal').modal({
                    show: true
                });
            }
        });

        return false;
    });
</script>






@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="dashboardBanner">
        Project Details
    </div>
    <div class="container-timeline pull-left">
        <h3 class="h3Header">@Html.DisplayFor(model => model.Job.Name)</h3>

        <div class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right">
            <div class="navContainer">
                <ul class="navDetails" style="background-color: transparent; border-radius: 0;" data-tabs="tabs">
                    <li class="active"><a href="#Details" data-toggle="tab">Details</a></li>
                    <li class="divider"></li>
                    <li><a href="#Submission" data-toggle="tab">Submission</a></li>
                </ul>
            </div>
            <div class="contentPanel">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="Details" style="padding-bottom: 50px;">
                        Description: @Html.DisplayFor(model => model.Job.Details) <br />
                        First win prize: @Html.DisplayFor(model => model.Job.PrizeFirst) <br />
                        Second win prize: @Html.DisplayFor(model => model.Job.PrizeSecond) <br />
                        Third win prize: @Html.DisplayFor(model => model.Job.PrizeThird) <br />
                        Challenge Deadline :@Html.DisplayFor(model => model.Job.Date_End) <br />
                        @if (User.IsInRole("client") && Model.Job.isOpen == true)
                        {
                            <div class="pull-right">
                                @Html.ActionLink("Close Challenge", "Close", new { jobID = Model.Job.Job_ID })
                            </div>
                        }
                    </div>
               
                    <div class="tab-pane fade in " id="Submission">
                        @if (User.IsInRole("worker"))
                        {
                            @Html.ActionLink("Submit your entry", "ImageCreate", "Job", new { id = Model.Job.Job_ID }, null)
                        }

                        @if (Model.AcceptWorker != null)
                        {
                            if (Model.AcceptWorker.Count() == 0)
                            {
                                <div class="alert-success btn-lg">No submitted challenge yet!</div>
                            }
                        }
                        @if (Model.AcceptWorker != null)
                        {
                            foreach (var submitted in Model.AcceptWorker)
                            {
                                <div class="panel panel-white post panel-shadow" style="width: 350px;">
                                    <div class="post-heading">
                                        <div class="pull-left">
                                            <div class="title h5">
                                                <b>@(workerNames[submitted.UserId])</b>
                                                posted a submission.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-description">
                                        @if (submitted.IsSubmitted == true)
                                        {
                                            @Html.ActionLink("View entry", "Submit", "Job", new { id = submitted.Id }, null)
                                        }
                                        else
                                        {
                                            <h3>No submission</h3>
                                        }
                                    </div>
                                </div>
                            }
                        }

                    </div>

                </div>
            </div>

            <br/>
                <div class="panel panel-default fadeLeft" style="border-radius: 0;">
                    <div class="panel-heading panel-heading-custom-dashboard" style="padding: 25px; color: #000000 !important; font-size: 14px;">
                        
                        &nbsp;&nbsp;Comments
                    </div>
                    <div class="panel-body" style="padding: 10px;">
                        @if (TempData["commentNone"] != null)
                        {
                            <div class="alert-success btn-lg">@TempData["commentNone"]</div>
                        }
                        @if (Model.Comments != null)
                        {
                            foreach (var item in Model.Comments)
                            {
                                <div class="panel panel-white post panel-shadow" style="width: 350px;">
                                    <div class="post-heading">
                                        <div class="pull-left">
                                            <div class="title h5">
                                                <b>@Html.DisplayFor(comment => item.UserId)</b>
                                                posted a comment.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-description">
                                        <p>
                                            @Html.HiddenFor(comment => item.Id)
                                            @Html.DisplayFor(comment => item.commentDetails)
                                        </p>
                                        <br />
                                        @Html.ActionLink("Delete", "Delete", new { commentID = item.Id, @class = "pull-right", style = "vertical-align: bottom;" })
                                    </div>
                                </div>
                            }
                        }
                        @if (Model.Job.isOpen == true)
                        {
                            <div>
                                @using (Ajax.BeginForm("GetCommentData", new { jobID = ViewBag.jobID }, ajaxOpts))
                                {

                                    <div>

                                        @Html.EditorFor(model => model.comment.commentDetails, new { htmlAttributes = new { @class = "form-control", style = "width:200px; border-radius:0;" } })
                                        @Html.ValidationMessageFor(model => model.comment.commentDetails, "", new { @class = "text-danger" })<br />
                                        <button type="submit" class="btn btn-primary" style="border-radius:0;">Submit Comment</button>
                                    </div>
                                }
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>


        <div class="topPeopleDiv">
            <div class="panel panel-primary" style="border-radius: 0;">
                <div class="panel panel-heading" style="border-radius: 0;">
                    <h3 class="panel-title">Author Details</h3>
                </div>
                <div class="panel-body" style="padding: 25px;">
                    <div class="row">
                        Posted by:
                        <p class="pull-right">@Html.DisplayFor(model => model.AppUser.UserName)</p>
                    </div>
                    <div class="row">
                        Total payment made:
                        <p class="pull-right">@Html.DisplayFor(model => model.AppUser.totalPayout)</p>
                    </div>
                    @*<div class="row">
                            Projects Completed:
                            <p class="pull-right">0.00</p>
                        </div>*@
                </div>
            </div>

        </div>
}
@*<div style="padding: 40px;">*@


@*<div class="row">
        <h1>
            @Html.DisplayFor(model => model.Job.Name)
        </h1>
    </div>
    <div class="row">
        Challenge Description:
        <br />
        @Html.DisplayFor(model => model.Job.Details)
        <br />
        <br />
        Date Posted : @Html.DisplayFor(model => model.Job.Date_Created)<br />
        Challenge Deadline :@Html.DisplayFor(model => model.Job.Date_End) <br />
        First win prize: @Html.DisplayFor(model => model.Job.PrizeFirst) <br />
        Second win prize: @Html.DisplayFor(model => model.Job.PrizeSecond) <br />
        Third win prize: @Html.DisplayFor(model => model.Job.PrizeThird) <br />
        <br />
        <br />
        Tags : <a href="#">tag1</a>,<a href="#">tag2</a>
    </div>

        @if (User.IsInRole("worker") && Model.AcceptWorker.Where(x => Model.Job.Job_ID == x.JobId).FirstOrDefault().IsSubmitted)
        {*@

@*<div id="submissionArea" class="row">
        <hr />
        <form class="form-horizontal">
            <fieldset>

                <legend>Submit Work</legend>


                <div class="control-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input id="title" name="title" type="text" placeholder="Name" class="input-xlarge" />

                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="Description">Description</label>
                    <div class="controls">
                        <textarea id="Description" cols="90" rows="2" name="Description">Description</textarea>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="filebutton">File</label>
                    <div class="controls">
                        <input id="filebutton" name="filebutton" class="input-file" type="file" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="singlebutton"></label>
                    <div class="controls">
                        <button id="singlebutton" name="singlebutton" class="btn btn-info">Upload</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>*@
@*}
    else if (User.IsInRole("worker"))
    {
        @Html.ActionLink("Submit your entry", "ImageCreate", "Job", new { id = Model.Job.Job_ID }, null)
    }
    @if (ViewBag.First != null)
    {
        <h4> First winner : @ViewBag.First</h4>
    }

    @if (ViewBag.WorkerList != null && Model.Job.isOpen == false)
    {
        <h2>@Html.ActionLink("Choose winners", "Choose", "Job", new { jobId = Model.Job.Job_ID }, null)</h2>
    }

    @if (TempData["workerList"] != null && Model.Job.isOpen == false)
    {
          <h2>@Html.ActionLink("Choose winners", "Choose", "Job", new { jobId = Model.Job.Job_ID }, null)</h2>
    }

    <hr />*@
@*<h1>Submitted Works</h1>

    @if (Model.AcceptWorker != null)
    {
        if (Model.AcceptWorker.Count() == 0)
        {
            <div class="alert-success btn-lg">No submitted challenge yet!</div>
        }
    }


    @if (Model.AcceptWorker != null)
    {
        foreach (var submitted in Model.AcceptWorker)
        {
            <div id="commentArea" class="row" style="padding-top:20px;">

                <hr />
                <div id="commentPanel" class="row">
                    <div class="col-sm-1">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">*@
@*@Html.DisplayFor(submit => User.Identity.Name);*@
@*@Html.Display( (Dictionary<string,string>)ViewBag.WorkerNames[submitted.UserId])*@
@*@Html.Display((ViewBag.WorkerNames as Dictionary<string,string>)[submitted.UserId])*@
@*@(workerNames[submitted.UserId])
    </div>
                                    <div class="panel-body">

                                   @if (submitted.IsSubmitted == true)
                                   {
                                    @Html.ActionLink("View entry", "Submit", "Job", new { id = submitted.Id }, null)
                                   }
                                   else
                                   {
                                       <h3>No submission</h3>
                                   }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }*@

@*<h1> Comments </h1>
    @if (TempData["commentNone"] != null)
    {
        <div class="alert-success btn-lg">@TempData["commentNone"]</div>
    }
    @if (Model.Comments != null)
    {



            foreach (var item in Model.Comments)
            {
            <div id="commentArea" class="row" style="padding-top:20px;">

                <hr />
                <div id="commentPanel" class="row">

                    <div class="col-sm-1">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                        </div>
                    </div>
                    <div class="col-sm-10">

                        <div class="panel panel-default">
                            <div class="panel-heading">

                                @Html.DisplayFor(comment => item.UserId)
                                @if (item.UserId == User.Identity.GetUserId())
                                    {
                                    <div class="pull-right">*@

@*@Html.HiddenFor(comment => item.UserId)*@
@*@Html.ActionLink("Edit", "Edit", new { commentID = item.Id }, new { @class = "lnkEdit" })*@
@*@Html.ActionLink("Delete", "Delete", new { commentID = item.Id })
                                    </div>
                                    }
                            </div>
                            <div class="panel-body">
                                @Html.HiddenFor(comment => item.Id)
                                @Html.DisplayFor(comment => item.commentDetails)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
        <div id="result">
        </div>
    }
    <br />*@
<!-- ajax call-->
<!---->
@*@if(Model.Job.isOpen == true) {
            <div id="submitComment" class="row">

                @using (Ajax.BeginForm("GetCommentData", new { jobID = ViewBag.jobID }, ajaxOpts))
                {

                    <div>
                        <div id="submitComment" class="row">
                            @Html.EditorFor(model => model.comment.commentDetails, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.comment.commentDetails, "", new { @class = "text-danger" })<br />
                            <button type="submit" class="btn btn-primary">Submit Comment</button>
                        </div>
                        <div>

                        </div>
                    </div>
                }
            </div>
            }
        </div>

    }*@

@*@using (Html.BeginForm("EditComment", "Job",  FormMethod.Post, new {@class="modal-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal fade" id="editModal" role="dialog">
            @Html.Hidden("id", "", new { @class = "hiddenid" })
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Comment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.comment.commentDetails, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="editComment" name="Command" value="Save Changes" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    }*@


@*<div class="row">

        <div>
            <h4>Your Challenges</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Job_ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Job_ID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Details)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Date_Created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date_Created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Date_End)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date_End)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationId)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>*@


