﻿@model  PitchIn.Domain.Entities.Comments
@using Microsoft.AspNet.Identity
<div id="commentArea" class="row" style="padding-top:20px;">

    <hr />
    <div id="commentPanel" class="row">
        <!-- Wala naman tayong upload pic so ito ang default thumbnail -->
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            </div>
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">

                    @Html.DisplayFor(comment => Model.UserId)
                    @if (Model.UserId == User.Identity.GetUserId())
                    {
                        <div class="pull-right">

                            @*@Html.HiddenFor(comment => item.UserId)*@
                            @*@Html.ActionLink("Edit", "Edit", new { commentID = item.Id }, new { @class = "lnkEdit" })*@
                            @Html.ActionLink("Delete", "Delete", new { commentID =Model.Id})
                        </div>
                    }
                </div>
                <div class="panel-body">
                    @Html.HiddenFor(comment => Model.Id)
                    @Html.DisplayFor(comment => Model.commentDetails)
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->

        </div>
    </div>
</div>