﻿@model IEnumerable<PitchIn.Domain.Entities.Job>

@{
    ViewBag.Title = "GetLastFiveJobs";
}

<h2>GetLastFiveJobs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isOpen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isOpen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Job_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Job_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Job_ID })
        </td>
    </tr>
}

</table>
