﻿@model PitchIn.Models.TimelineViewModel

@{
    ViewBag.Title = "Upload Images";
    //Layout = "~/Views/Shared/_ClientLayout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //@model PitchIn.Domain.Entities.Photo



}


<div class="dashboardBanner">
    Submit Your Work
</div>

    @using (Html.BeginForm("ImageCreate", "Job", FormMethod.Post, new { enctype = "multipart/form-data", id= ViewBag.JobID }))
    {
        @Html.AntiForgeryToken()

        <div class="container-timeline pull-left">
            <div class="col-lg-8 col-md-4 col-sm-2 col-xs-12 pull-right">
                <div class="panel panel-default fadeLeft" style="border-radius: 0;">
                    <div class="panel-heading panel-heading-custom-dashboard" style="padding: 25px;">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        &nbsp;&nbsp;Work Details
                    </div>
                    <div class="panel-body" style="padding: 0px;">
                        <h4 style="margin-bottom:0; padding-left:40px; padding-top:10px;">Information</h4>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-custom" style="border-bottom: 2px solid #ccc;">
                                <p style="margin-bottom: 5px;">Submission Details</p>
                                @Html.TextBoxFor(m => m.Photos.Description, new { @class = "form-control required", placeholder = "Please provide appropriate details.", style = "border-radius: 0;" })
                                @*<textarea placeholder="Please provide appropriate details." style="border-radius: 0;" class="form-control " aria-required="true"></textarea>*@
                            </li>

                            <li class="list-group-item list-group-item-custom" style="border-bottom: 2px solid #ccc; padding-bottom: 100px;">
                                <h4 style="margin-bottom:0;">Upload</h4>  <br />
                                <input type="file" name="files" multiple="multiple" accept=".jpg, .png, .gif" class="btn btn-default pull-left" style="border-radius: 0;" />

                            </li>

                            <li class="list-group-item list-group-item-custom">                             
                                <input type="submit" class="btn btn-default pull-right" style="border-radius:0;" value="Submit Work" />
                                <div style="color:red">
                                    @ViewBag.error
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="topPeopleDiv fadeRight">

            <div class="panel panel-primary" style="border-radius: 0;">
                <div class="panel panel-heading" style="border-radius: 0;">
                    <h3 class="panel-title">Credit details</h3>
                </div>
                <div class="panel-body" style="padding: 25px;">
                    <div class="row">
                        Credits:
                        @if (Session["Credits"] != null)
                        {
                            <p class="pull-right">$@HttpContext.Current.Session["Credits"].ToString();</p>
                        }
                        else
                        {
                            <p class="pull-right"> $0.00</p>
                        }
                    </div>
                </div>
            </div>

        </div>





        @*<div class="form-horizontal">   

            <div class="form-group">
                @Html.LabelFor(m => Model.Photos.Description, new { @class = "control-label col-sm-3" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.Photos.Description, new { @class = "form-control required" })
                    @Html.ValidationMessageFor(model => model.Photos.Description)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Choose Image(s)", new { @class = "control-label col-sm-3" })
                <div class="col-sm-5">
                    <input type="file" name="files"
                           multiple="multiple" accept=".jpg, .png, .gif" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <div style="color:red">
                        @ViewBag.error
                    </div>
                </div>
            </div>
        </div>*@
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}