﻿@model PitchIn.Models.JobListViewModel
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@foreach (var p in Model.Jobs)
{
    <div class="well">
        <h3>@p.Name</h3>
      
        <h4>@p.Details</h4>
    </div>
}
<div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x }))
</div>
