﻿
@model IEnumerable<PitchIn.Domain.Entities.Job>
<div id="searchresults">
   
        @foreach (var item in Model)
        {

            @Html.ActionLink(@item.Name, "Details", "Job", new { jobID = item.Job_ID }, null)
            @*<a href="http:///www.xvideos.com"> <li class="list-group-item">@item.Name</li> </a>*@

            <a href="#"> <li class="list-group-item">@item.Name</li> </a>

        }
    </ul>
</div>