﻿@model PitchIn.Models.TimelineViewModel

@{
    ViewBag.Title = "Image Gallery";

    //    @model PitchIn.Domain.Entities.PagedList<PitchIn.Domain.Entities.Photo>

    // @model PitchIn.Models.TimelineViewModel

    //  @model PitchIn.Domain.Entities.PagedList<PitchIn.Domain.Entities.Photo>


}

@*<!DOCTYPE html>

    <html>
    <head>

        <meta name="viewport" content="width=device-width" />
        <title>Submit</title>
    </head>
    <body>*@
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link href="~/Content/bootstrap-image-gallery.min.css" rel="stylesheet" />
<link href="~/Content/flexslider.css" rel="stylesheet" />
<link href="~/Content/default.css" rel="stylesheet" />
<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet" />
<h2>Image Gallery</h2>


@using (Html.BeginForm("Submit", null, FormMethod.Get))
{
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next" style="max-height: 1000px; min-height: 800px;"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <section id="projects">
                    <ul id="thumbs" class="portfolio">
                        <!-- Item Project and Filter Name -->
                        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                        @*<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="img/works/1.jpg">
                <span class="overlay-img"></span>
                <span class="overlay-img-thumb font-icon-plus"></span>
            </a>*@
                        <!-- Thumb Image and Description -->
                        @foreach (var item in Model.Pagelist.Content)
                        {
                            <li class="col-lg-3 design" data-id="id-0" data-type="web">
                                <div class="item-thumbs">
                                    <a href="@item.ImagePath" title="@item.Description" class="hover-wrap fancybox" data-gallery>
                                 
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb fa fa-plus-circle"></span>
                                    </a>
                                    <img src="@item.ThumbPath" alt="@item.Description" class="img-responsive" />
                                  
                                </div>
                                <br />
                                @if (User.IsInRole("worker")) {
                                @Html.ActionLink("Delete Photo", "DeletePhoto", new { photoID = item.PhotoId })  }
                            </li>

                        }
                     
                        @*<img src="img/works/1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">*@

                    </ul>
                    </section>
                </div>
            </div>
        </div>


                        <div class="row">
                            @*@foreach (var item in Model.Pagelist.Content)
                                {
                                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                                    <a href="@item.ImagePath" title="@item.Description" data-gallery>
                                                        <img src="@item.ThumbPath" alt="@item.Description" class="img-responsive" />
                                                    </a>
                                                </div>
                                            }*@
                        </div>

                        <div>
                            @{
                                var grid = new WebGrid(
                                            canPage: true,
                                            rowsPerPage: Model.Pagelist.PageSize,
                                            canSort: true,
                                            ajaxUpdateContainerId: "grid");

                                grid.Bind(Model.Pagelist.Content, rowCount: Model.Pagelist.TotalRecords, autoSortAndPage: false);
                                grid.Pager(WebGridPagerModes.All);

                                @grid.GetHtml(htmlAttributes: new { id = "grid" },
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            columns: grid.Columns());
                            }
                        </div>
                        }

                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                        <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
                        <script src="~/Scripts/bootstrap-image-gallery.min.js"></script>
                        @*</body>
                            </html>*@


