﻿
@{
    ViewBag.Title = "Chart";
}
<script type="text/javascript">
    function drawVisualization() {


        $.post('GetDataAssets', {}, function (d) {

            var data = google.visualization.arrayToDataTable(d);

     // Create and draw the visualization.
            new google.visualization.PieChart(document.getElementById('visualization')).
                draw(data, { title: "Top Videos", pieHole: 0.4 });
        }
    )
    };

    google.setOnLoadCallback(drawVisualization);
</script>

<div id="visualization" style="width: 600px; height: 400px; margin: auto"></div>
<h2>Chart</h2>

