﻿@model PitchIn.Models.TimelineViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContentEditor</title>
</head>
<body>
    <div class="dashboardBanner">
        Edit Details
    </div>

    <div class="container-timeline">
        <div class="container-fluid">
            <div class="panel panel-default fadeLeft" style="border-radius: 0;">
                <div class="panel-heading panel-heading-custom-dashboard" style="padding: 25px;">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    &nbsp;&nbsp;Details
                </div>
                <div class="panel-body" style="padding: 0px;">
                    <h4 style="margin-bottom:0; padding-left:40px; padding-top:10px;">Information</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-custom" style="border-bottom: 2px solid #ccc;">
                            <p style="margin-bottom: 5px;">Logo</p>
                            <input id="file" name="file" class="btn btn-default" type="file" style="border-radius:0;" /><br/>
                            <p style="margin-bottom: 5px;">Font Style</p>
                            <asp:DropDownList ID="DropDownList1" runat="server" CssClass="form-control" style="border-radius: 0; width: 200px;"></asp:DropDownList>
                            <br />
                            <p style="margin-bottom: 5px;">Theme Color</p>
                            <asp:DropDownList ID="DropDownList2" runat="server" CssClass="form-control" style="border-radius: 0; width: 200px;"></asp:DropDownList>
                            <br />
                            <p style="margin-bottom: 5px;">Categories</p>
                            <asp:DropDownList ID="DropDownList3" runat="server" CssClass="form-control" style="border-radius: 0; width: 200px;"></asp:DropDownList>
                        </li>



                        <li class="list-group-item list-group-item-custom">
                            <input type="submit" class="buttonProject pull-right" value="Save Changes" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
