﻿@model PitchIn.Controllers.ProductModel
@{
    ViewBag.Title = "Index";

}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Jobs Created'],
        ['Jsuan', @ViewBag.jan],
        ['Feb', @ViewBag.feb],
        ['March', @ViewBag.march],
        ['April',@ViewBag.april],
        ['May', @ViewBag.may],
        ['June', @ViewBag.june],
        ['July', @ViewBag.july],
        ['August', @ViewBag.aug],
        ['September', @ViewBag.sep],
        ['October', @ViewBag.oct],
        ['November', @ViewBag.nov],
        ['December',@ViewBag.dec],
        ]);

       // var data = google.visualization.arrayToDataTable([
       //['Year', 'Sales', 'Expenses', 'Profit'],
       //['2014', 1000, 400, 200],
       //['2015', 1170, 460, 250],
       //['2016', 660, 1120, 300],
       //['2017', 1030, 540, 350]
       // ]);
        var options = {
          chart: {
            title: 'Number of Jobs Created per Month',
            subtitle: 'Year 2016',
             
          },
        
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, options);
      }
</script>
<body>

    <div class="dashboardBanner">
        Admin Dashboard
    </div>
    <div class="container-timeline">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="panel panel-default clearfix" style="border-radius: 0;">
                    <div class="panel-body">Number of users registered chart</div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default " style="border-radius: 0;">
                    <div class="panel-body">Today's Income Total</div>
                    <div class="panel-footer">Today's Income</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default " style="border-radius: 0;">
                    <div class="panel-body">Total Income</div>
                    <div class="panel-footer">Total Income</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default " style="border-radius: 0;">
                    <div class="panel-body">Total Projects Created</div>
                    <div class="panel-footer">Total Projects</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default " style="border-radius: 0;">
                    <div class="panel-body"></div>
                    <div class="panel-footer">Top Developer</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default " style="border-radius: 0;">
                    <div class="panel-body"></div>
                    <div class="panel-footer">Top Client</div>
                </div>
            </div>
        </div>


    </div>
    @*<div> 


        <div id="barchart_material" style="width: 900px; height: 500px;"></div>


        <h2>Index</h2>
      


    </div>*@
</body>


