﻿
@model PitchIn.Models.TimelineViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @foreach (var list in Model.AppUsers)
        {
            @Html.DisplayFor(x => list.UserName)

            @Html.ActionLink("Unban User", "Unban", new { id = list.Id }) <br />
        }
    </div>
</body>
</html>
