﻿
@model PitchIn.Models.TimelineViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="dashboardBanner">
        List of Users
    </div>
    <div class="container-timeline">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>User ID</th>
                                <th>E-mail</th>
                                <th>Actions</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var list in Model.AppUsers)
                            {
                                <tr>

                                    <td>@Html.DisplayFor(x => list.Id)</td>
                                    <td>@Html.DisplayFor(x => list.UserName)</td>
                                    <td>
                                        @Html.ActionLink("Ban User", "Ban", new { id = list.Id })
                                        |
                                        @Html.ActionLink("Remove User", "RemoveUser", new { id = list.Id })
                                    </td>
                                    <td>@Html.DisplayFor(x => list.isBanned)</td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    @*<div>
        @foreach (var list in Model.AppUsers)
        {
            @Html.DisplayFor(x => list.UserName)

            @Html.ActionLink("Ban User", "Ban", new { id = list.Id })<br />
        }
    </div>*@
</body>
</html>
