﻿
@{
    ViewBag.Title = "PieChart";
}

<h2>PieChart</h2>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Complete', @ViewBag.Comp],
          ['Incompplete',@ViewBag.Inc]
          //['Work',     11],
          //['Eat',      2],
          //['Commute',  2],
          //['Watch TV', 2],
          //['Sleep',    7]
        ]);
        var options = {
            title: 'Complete vs. Incomplete',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>
  </head>
<body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</body>