
﻿@using Microsoft.AspNet.Identity
﻿@model PitchIn.Models.TimelineViewModel

@{
    ViewBag.Title = "Manage";
    //Layout = "~/Views/Shared/_ClientLayout.cshtml";

}

@*<h2>@ViewBag.Title.</h2>*@




<p class="text-success">@ViewBag.StatusMessage</p>
<div id="sideMenu_Main">
    <div class="col-sm-10">
        <div class="card hovercard">
            <div class="cardheader">
            </div>
            <div class="avatar">
                <a href="@Url.Action( "Upload", "Manage")">
                    @if (Model.User.Files.Any(f => f.FileType == PitchIn.Domain.Concrete.FileType.Avatar))
                    {
                        <h5> Avatar</h5>
                            <img src="~/File?id=@Model.User.Files.First(f => f.FileType == PitchIn.Domain.Concrete.FileType.Avatar).FileId" alt="avatar" width="100" height="100" />
                    }
                    else
                    {
                        <img alt="" src="http://lorempixel.com/100/100/people/9/">
                    }

                </a>

            </div>
            <div class="info">
                <div class="title">
                    @Html.Label("Username", "Hello!" + "\n" + User.Identity.GetUserName())

                </div>
                <div class="desc"><a href="@Url.Action("Upload", "Manage")">Edit Profile</a></div>
                <div class="desc"><a href="@Url.Action("List","Client")"> View All Challenges Created </a></div>
                <div class="desc">Remaining credits : @ViewBag.credits</div>

            </div>
            <div class="bottom">
                <a class="btn btn-primary btn-twitter btn-sm" href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="btn btn-danger btn-sm" rel="publisher"
                   href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a class="btn btn-primary btn-sm" rel="publisher"
                   href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-warning btn-sm" rel="publisher" href="#">
                    <i class="fa fa-behance"></i>
                </a>

                <form action='setExpressCheckout' METHOD='POST'>
                    <input type='image' name='submit' src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' border='0' align='top' alt='Check out with PayPal' />
                </form>

                <form action="@Url.Action("Charge")" method="POST">


                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" type="text/javascript"
                            data-key="pk_test_9btCxOAquczpE3NIPvgUz6NT"
                            data-image="/Images/IMG_87741.jpg"
                            data-name="Pitch In"
                            data-description="5 Credits"
                            data-currency="USD"
                            data-amount="5000"></script>
                </form>
            </div>
        </div>

    </div>
</div>
<div id="myContent_profileSettings">
    <div class="row" align="left" style="padding-left:40px;padding-right:40px;">
        <h2>
            My Profile Details
        </h2>
        <hr style="border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc)" />
        <hr />
        Email : @Html.Label("Username", User.Identity.GetUserName())
        <hr />
        Contact Number :
        <hr style="border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc)" />
        Password: @if (Model.IndexViewModel.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
        <hr style="border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc)" />
    </div>
    </div>





































    @*<div>
        <h4>Change your account settings</h4>
        <hr />
        <h5>@Html.ActionLink("Upload profile picture","Upload")</h5>
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                @if (Model.IndexViewModel.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.IndexViewModel.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
    @* NOT INCLUDED
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
    *@
    @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </dd> TILL HERE
    *@
    @*<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
    @*@if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Enabled
                <input type="submit" value="Disable" class="btn btn-link" />
                </text>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Disabled
                <input type="submit" value="Enable" class="btn btn-link" />
                </text>
            }
        }*@
    @*</dd>
            </dl>
        </div>*@
