﻿@*@model PitchIn.Domain.Concrete.ApplicationUser*@
@model PitchIn.Models.TimelineViewModel

@*@{
    Layout = null;
}*@


@using (Html.BeginForm("Upload", "Manage", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Your Profile</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (Model.AppUser.Files.Any(f => f.FileType ==  PitchIn.Domain.Concrete.FileType.Avatar))
        {
           <h5> Avatar</h5>
               <img src="~/File?id=@Model.AppUser.Files.First(f => f.FileType == PitchIn.Domain.Concrete.FileType.Avatar).FileId" alt="avatar" width="150" height="150" />
        }
     
        <div class="form-group">
            @Html.Label("Profile Picture", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}


