﻿@using Microsoft.AspNet.Identity
@*@model PitchIn.Domain.Entities.Job*@
@model PitchIn.Models.TimelineViewModel
@*@model IEnumerable<PitchIn.Domain.Entities.Job>*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/Admin")
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
  

    <div class="divContent">

        @Html.Partial("_LoginPartial")

        <ul class="navClient2">
            <li><a class="active" href="#">Dashboard</a></li> <!-- overview of charts e.g. number of users total sales -->
            <li><a href="@Url.Action("Chart","Admin")">Reports</a></li>
            <li><a href="@Url.Action("ListUsers","Admin")">Users</a></li>
            <li><a href="@Url.Action("ListProjects","Admin")">List of Projects</a></li>
            <li><a href="@Url.Action("ContentEditor","Admin")">Content Editor</a></li>       
        </ul>
        @RenderBody()
    </div>
   

    @RenderSection("scripts", required: false)
</body>
</html>
