﻿@model Dictionary<int, PitchIn.Domain.Entities.Job>

@foreach (var job in Model)
{
    <li class="panel panel-default fadeLeft" style="border-radius: 0; list-style:none; ">
        <div class="panel-heading panel-heading-custom" style="padding: 25px;">@job.Value.Name</div>
        <div class="panel-body" style="padding: 0px;">
            <table class="infinite-scroll" style="height: 146px; border-color: #000; width: 100%;">
                <tbody>
                    <tr>
                        <td style="border-right: 1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; width: 30%">
                            <div class="servive-block servive-block-yellow">
                                <p>Price 1 - @job.Value.PrizeSecond</p>
                            </div>
                        </td>
                        <td colspan="3" rowspan="2" style="border-left: 1px solid black;"></td>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; width: 30%">
                            <div class="servive-block servive-block-dark-blue">

                                <p>Price 2 - @job.Value.PrizeSecond</p>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; width: 30%">
                            <div class="servive-block servive-block-purple">

                                <p>Price 3 - @job.Value.PrizeThird</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" rowspan="3" style="border-top: 1px solid #d3d3d3; padding:10px;padding-right: 2em; text-align: right;">
                            @Html.ActionLink("View", "Details", "Job", new { jobID = job.Value.Job_ID }, null)
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </li>
}
