﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PitchIn - @ViewBag.Title </title>

    <script src="~/Scripts/smooth-scroll.js" type="text/javascript">
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/Home")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        $(document).ready(function () {
            var scroll_start = 0;
            var startchange = $('#startchange');
            var offset = startchange.offset();
            if (startchange.length && $('#back-to-top').length) {
                $(document).scroll(function () {
                    scroll_start = $(this).scrollTop();
                    if (scroll_start > offset.top) {
                        $(".navbar-landpage").css('background-color', '#000000');
                        $("#back-to-top").addClass('show');

                    }
                    else if ($(window).scrollTop() + $(window).height() == $(document).height())
                    {

                        $("#back-to-top").css('color', '#ffffff', '!important' );
                    }

                    else {
                        $('.navbar-landpage').css('background-color', 'transparent');
                        $("#back-to-top").removeClass('show');
                    }
                });


            }

            $('#back-to-top').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 0
                }, 1000);
            });
        });



        $(document).ready(function () {
            $('#carousel').carousel({
                interval: 2000
            });
        });
    </script>

</head>



<body>

    <div class="clientBoxTop">
        <div class="banner">
        </div>
        <nav class="navbar navbar-landpage navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Pitch-In</a>
                </div>
                @if (User.IsInRole("client"))
                {
                    @Html.Partial("_LoginPartial")
                }
                else if (User.IsInRole("worker"))
                {
                    @Html.Partial("_LoginPartial")
                }
                else
                {
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#Categories">Categories</a>
                            </li>
                            <li>
                                <a href="#Team">Our Team</a>
                            </li>
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                }
            </div>
        </nav>

    </div>

    @RenderBody()




    @*<div id="topBar">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("PitchIn", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                @if (User.IsInRole("client"))
                {
                    @Html.Partial("_LoginPartial")
                }
                else if (User.IsInRole("worker"))
                {
                    @Html.Partial("_LoginPartial")
                }
                else
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>
                            <li class="page-scroll">
                                <a href="#portfolio">Gallery</a>
                            </li>
                            <li class="page-scroll">
                                <a href="#about">About</a>
                            </li>
                            <li class="page-scroll">
                                <a href="#contact">Join Us</a>
                            </li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                }
            </div>
        </div>
    </div>*@
   




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
