﻿@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"/*, @class = "navbar-right"*/ }))
    {
        @Html.AntiForgeryToken()
        <div class="clientBoxTop">
            <nav class="navbar navbar-findcond navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Pitch-In</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i>Notification<span class="badge">0</span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><i class="fa fa-fw fa-tag"></i><span class="badge">Notif</span> Notif 1 example </a> </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Hi! @User.Identity.GetUserName()<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (User.IsInRole("client"))
                                    {
                                        <li><a href="@Url.Action("ClientDashboard", "Client")">View Dashboard</a></li>
                                    }
                                    else if (User.IsInRole("worker"))
                                    {
                                        <li><a href="@Url.Action("WorkerDashboard", "Worker")">View Dashboard</a></li>
                                    }
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>

                                </ul>
                            </li>
                        </ul>
                        <div class="navbar-form navbar-right search-form" role="search">
                            <input type="text" class="form-control" placeholder="Search" style="width: 150px;" />
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button> 
                            
                           
                        </div>
                    </div>
                </div>
            </nav>
       
        </div>

    }
}
else
{

    <li><a href="@Url.Action("Register", "Account")">Sign Up</a></li>
    <li><a href="@Url.Action("Login", "Account")">Log In</a></li>
    @*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@

}
@*@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@
