﻿@using Microsoft.AspNet.Identity
@model PitchIn.Models.TimelineViewModel
@*@model PitchIn.Models.ProfileViewModel*@
@*@model PitchIn.Domain.Concrete.ApplicationUser*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/UserPage")
    @*<link href="~/Content/main.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <div id="topBar">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("PitchIn", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    @*<div id="sideMenu_profileSettings">
        <div style="float:left; width:90px;">
            <b>General</b><br />
            <a href="#">Edit Profile</a>
            <hr style="width:300px;" />
            <b>Challenges</b><br />
            <a href="#">Submitted<br /></a>
            <a href="#">In Progress</a>
            <hr style="width:300px;" />
        </div>
    </div>*@

  
        @RenderBody()

    


    @*<div id="rightContent">
         Account Summary
        <div id="accountSummary" runat="server" class="panel panel-default" style="width:280px;">
            <div class="panel-heading libreStatsPanelHeading">
                <div class="panel-title">
                    <span>Summary</span>
                    <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#uniqueVisitor" data-toggle="collapse"></a>
                </div>
            </div>
            <div class="panel-body libreStatsPanelBody collapse in" id="uniqueVisitor">
                <div class="row clearfix libreStatsPanelRow">
                    <div class="col-md-8 column libreStatsPanelValueColumn">
                        Completed Challenges<p class="libreStatsCount">
                            <asp:Label ID="completeChallenge" runat="server" Text="Label"></asp:Label>
                        </p>
                        <small>Submitted</small>
                    </div>
                    <div class="col-md-4 column">
                        <span class="pull-right fa fa-user fa-5x libreStatsIcon"></span>
                    </div>
                </div>
            </div>
        </div>
        <script>
        $(document).on('click', '.panel-heading span.clickable', function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        });
        $(document).on('click', '.panel div.clickable', function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        });
        $(document).ready(function () {
            $('.panel-heading span.clickable').click();
            $('.panel div.clickable').click();
        });
        </script>*@
    <!-- Site News -->
    @*<div id="myNewsPanel">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Site News
                    </h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div id="myNewsBody" class="panel-body">

                    <section><a href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>&nbsp User 123 - completed Challenge.</section>
                    <section><a href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>&nbsp User abc - completed Challenge.</section>

                    <div class="row" style="padding-left:180px;"><a href="#">View All</a></div>
                </div>
            </div>
        </div>*@
    <!-- Open Challenges -->
    @*<div id="openChallengesPanel">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Open Challenges
                    </h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>

                <div id="openChallengesBody" class="panel-body" >
                    @foreach (var item in Model.Jobs)
                    {

                        <section>
                            <a href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            @Html.DisplayFor(modelItem => item.Name)
                        </section>

                    }
                    <div class="row" style="padding-left:180px;"></div>
                    <a href="@Url.Action("List","Client")">
                        View All Challenges
                    </a>
                </div>

            </div>
        </div>
    </div>*@

    @RenderSection("scripts", required: false)
</body>
</html>
