﻿@using Microsoft.AspNet.Identity
@model PitchIn.Models.TimelineViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/ClientPage")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />    
</head>
<body>
    <div class="divContent">
      
                @Html.Partial("_LoginPartial")

        <ul class="navClient2">
            <li><a class="active" href="@Url.Action("Index", "Worker")">Home</a></li>
            <li><a href="@Url.Action("OpenChallenges", "Worker")">Find a Work</a></li>
            <li><a href="@Url.Action("Accepted", "Worker")">Accepted Projects</a></li>
        </ul>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
